@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
body {
	font-family: 'Open Sans', sans-serif;
}
.sub_menu ul {
	margin: 0;
	padding: 0;
}
.sub_menu ul li {
	list-style: none;
	display: inline-block;
	background: #ff7e00;
}
.sub_menu ul li a {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	text-decoration: none;
	display: inline-block;
	width: 150px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #ffffff;
}
.sub_menu ul li a:hover {
	text-decoration: underline;
	color: #ffffff;
}
.sub_menu .active {
	text-decoration: underline;
	color: red;
}
.btn-red {
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	border: 2px solid #03A392;
	font-family: Arial;
	color: #eeeeee;
	font-size: 14px;
	padding: 15px 30px 15px 30px;
	text-decoration: none;
}
.btn-red:hover {
	background: #03A392;
	text-decoration: none;
	color: #eeeeee;
}
.btn-black {
	background: #03A392;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	font-family: Arial;
	color: #eeeeee;
	font-size: 14px;
	padding: 15px 30px 15px 30px;
	text-decoration: none;
}
.btn-black:hover {
	background: #03A392;
	text-decoration: none;
	color: #eeeeee;
}
.client img {
	-webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}
.client img:hover {
	-webkit-filter: grayscale(0);
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
.hovereffect {
	-webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}
.hovereffect:hover {
	-webkit-filter: grayscale(0);
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	cursor: pointer;
}
.bio_logo img {
	margin-top: 4px;
}	
/*-----------End Price Page--------------*/
hr.style-two {
	border: 0;
	height: 2px;
	width:150px;
	margin-left: auto;
    margin-right: auto;
	background-image: linear-gradient(to right, rgba(255, 126, 0, 0), rgba(255, 126, 0, 0.8), rgba(255, 126, 0, 0));
}
.wraper {
	width: 1000px;
	height: auto;
	margin: 0 auto;
}
.clearfix {
	clear: both;
}
.video_banner {
	width: 1000px;
}
.servicebox {
	background:url(http://biolablogistics.com/img/bg/black_denim.png) repeat;
	width: 100%;
	padding:20px 0 30px;
}
.servicebox ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.servicebox ul li {
	float: left;
	margin: 0 16px;
	padding: 0;
	vertical-align: top;
	width: 30%;
	text-align: center; color:#ffffff;
}
.servicebox span.doctor {
	
	border-radius: 50%;
	display: block;
	height: 125px;
	width: 125px;
	margin: 0 auto;
	line-height: 125px;
	text-align: center;
	transition: all 1s ease 0s;
}

.servicebox span.doctor2{
	
	border-radius: 50%;
	display: block;
	height: 125px;
	width: 125px;
	margin: 0 auto;
	line-height: 125px;
	text-align: center;
	transition: all 1s ease 0s;
}
.servicebox li:hover img {
	transform: rotate(45deg);
}
.servicebox span.track {
	
	border-radius: 50%;
	display: block;
	height: 125px;
	width: 125px;
	margin: 0 auto;
	line-height: 125px;
	text-align: center;
}

.servicebox span.track2 {
	
	border-radius: 50%;
	display: block;
	height: 125px;
	width: 125px;
	margin: 0 auto;
	line-height: 125px;
	text-align: center;
}

.servicebox span.lab {
	
	border-radius: 50%;
	display: block;
	height: 125px;
	width: 125px;
	margin: 0 auto;
	line-height: 125px;
	text-align: center;
}

.servicebox span.lab2 {
	
	border-radius: 50%;
	display: block;
	height: 125px;
	width: 125px;
	margin: 0 auto;
	line-height: 125px;
	text-align: center;
}

.servicebox span img {
	transition: all 1s ease 0s;
	vertical-align: middle;
}
.testimonials {
	widows: 100%;
	padding:30px 25px;
	background:#eeeeee; 
	background:url(http://biolablogistics.com/img/bg/noisy_net.png) repeat;
}
.headr {
	margin-bottom: 30px;
	text-align: center;
}
.headr2 {
	margin-bottom: 10px;
	text-align: center;
}
.headr h2 {
	color: #0B9887;
}
.headr2 h2 {
	color: #0B9887;
}
.testmonial_headr h4 {
	font-weight: 400;
}
.clientslogo_headr {
	margin-bottom: 30px;
}
.clientslogo_headr h2, h4 {
	text-align: center;
}
.clientslogo_headr h2 {
	color: #0B9887;
}
.clientslogo_headr h4 {
	font-weight: 400;
}
.testimonials ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.testimonials ul li {
	float: left;
	margin: 0 16px;
	padding: 0;
	vertical-align: top;
	width: 30%;
}
.quote {
	background: #ffffff;
	padding: 15px 20px 5px 15px;
	border-radius: 5px;
	margin-bottom: 30px;
	transition: All 1s ease;
	-webkit-transition: All 1s ease;
	-moz-transition: All 1s ease;
	-o-transition: All 1s ease;
}
.quote:after {
	content: '';
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 20px 18px 0 18px;
	border-color: #ffffff transparent transparent transparent;
	position: relative;
	top: 37px;
	left: 20px;
}
.quote:hover {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	box-shadow: 0px 0px 10px #333333;
}
.student {
	margin-left: 25px;
}
.student .photo {
	background-color: #ccc;
	border-radius: 100px;
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 10px;
}
.student p {
	position: relative;
	top: 5px;
	text-transform: uppercase;
}
.student p:nth-child(2) {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 0;
}
.student p:nth-child(3) {
	font-size: 14px;
	color: #777;
}
/*************testimonilas*********/
.carousel-control.left, .carousel-control.right {
	background: none;
	width: 25px;
}
.carousel-control.left {
	left: -45px;
}
.carousel-control.right {
	right: 2px;
}
.broun-block {
	padding-bottom: 34px;
}
.block-text {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 3px 8px #2c2222;
	color: #626262;
	font-size: 14px;
	margin-top: 27px;
	padding: 15px 18px;
	transition: All 1s ease;
	-webkit-transition: All 1s ease;
	-moz-transition: All 1s ease;
	-o-transition: All 1s ease;
}
.block-text:after {
	content: '';
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 20px 18px 0 18px;
	border-color: #ffffff transparent transparent transparent;
	position: relative;
	top: 45px;
	left: 110px;
}
.block-text:hover {
}
.block-text a {
	color: #333333;
	font-size: 20px;
	font-weight: bold;
	line-height: 26px;
	text-decoration: none;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.mark {
	padding: 12px 0;
	background: none;
}
.block-text p {
	color: #585858;
	font-style: italic;
	line-height: 24px;
}
.sprite {
}
.sprite-i-triangle {
	background-position: 0 -1298px;
	height: 44px;
	width: 50px;
}
.block-text ins {
	bottom: -44px;
	left: 50%;
	margin-left: -60px;
}
.block {
	display: block;
}
.zmin {
	z-index: 0;
}
.ab {
	position: absolute;
}
.person-text {
	padding: 20px 0 0;
	text-align: center;
	z-index: 2;
}
.person-text a {
	color: #0B9887;
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin-top: 3px;
}
.person-text i {
	color: #ffffff;
	font-size: 13px;
}
.rel {
	position: relative;
}
.leftarrow {
	background: url(images/leftarrow.png) no-repeat;
	position: absolute;
	top: 30%;
	width: 48px;
	height: 48px;
	z-index: 1;
}
.rightarrow {
	background: url(images/rightarrow.png) no-repeat;
	position: absolute;
	top: 30%;
	width: 48px;
	height: 48px;
	z-index: 1;
}
/********clients logo**********/
.clientslogo {
	background:#ffffff;
	padding:30px 0 30px;
}
.clientslogo ul {
	background: #ffffff;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
.clientslogo ul.row1 {
	padding: 50px 0;
}
.clientslogo ul.row2 {
	padding: 0 0 30px;
}
.clientslogo ul li {
	margin: 0;
	padding-right: 60px;
	display: inline-block;
}
.clientslogo ul li:last-child {
	padding-right: 0;
}
.clientslogo img {
	-webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	vertical-align: middle;
}
.clientslogo img:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
/**************graph*******/
.graph {
	background:#eeeeee; background:url(http://biolablogistics.com/assets/images/graphbg.png) repeat;
	widows: 100%;
	padding: 28px 20px 10px;
}
.graph_headr {
	margin-bottom: 70px;
}
.graph_headr h2, h4 {
	text-align: center;
}
.graph_headr h4 {
	font-weight: 400;
}
.chart {
	clear: both;
	padding: 0;
	width: 100%;
}

@media (min-width: 700px) {
.chart {
	background: url("images/bg-chart.png") right top repeat-x;
	height: 425px;
	margin: 0 auto emCalc(-32px);
}
}
.chart li {
	display: block;
	height: 125px;
	padding: emCalc(25px) 0;
	position: relative;
	text-align: center;
	vertical-align: bottom;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px;
	border-radius: 4px 4px 0 0;
	-moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
	-webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
	box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
}
.chart li:first-child {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

@media (min-width: 700px) {
.chart li {
	display: inline-block;
	height: 425px;
	margin: 0 12% 0 0;
	width: 15%;
}
}
.chart .axis {
	display: none;
	top: emCalc(-45px);
	width: 8%;
}

@media (min-width: 700px) {
.chart .axis {
	display: inline-block;
}
}
.chart .lebel {
	font-weight: 700;
	margin: -5px 0 75px;
}
.chart .percent {
	letter-spacing: -3px;
	opacity: .4;
	width: 100%;
	font-size: 30px;
	font-size: 1.875rem;
}

@media (min-width: 700px) {
.chart .percent {
	position: absolute;
	font-size: 62px;
	font-size: 3.875rem;
}
}
.chart .percent span {
	font-size: 30px;
	font-size: 1.875rem;
}
.chart .skill {
	font-weight: 800;
	opacity: 1;
	overflow: hidden;
	text-transform: uppercase;
	width: 100%;
	font-size: 14px;
	font-size: 0.875rem;
}

@media (min-width: 700px) {
.chart .skill {
	bottom: 20px;
	position: absolute;
	font-size: 16px;
	font-size: 1.5rem;
	color: #ffffff;
}
}
.chart .teal {
	background: #20546E;
	border: 1px solid #164e6a;
	background-size: 100%;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #337596), color-stop(70%, #20546E));
	background-image: -moz-linear-gradient(#337596, #20546E 70%);
	background-image: -webkit-linear-gradient(#337596, #20546E 70%);
	background-image: linear-gradient(#337596, #20546E 70%);
}
.chart .salmon {
	background: #815655;
	border: 1px solid #734a49;
	background-size: 100%;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8f6362), color-stop(70%, #815655));
	background-image: -moz-linear-gradient(#8f6362, #815655 70%);
	background-image: -webkit-linear-gradient(#8f6362, #815655 70%);
	background-image: linear-gradient(#8f6362, #815655 70%);
}
.chart .lime {
	background: #97f464;
	border: 1px solid #97f464;
	background-size: 100%;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b7f794), color-stop(70%, #97f464));
	background-image: -moz-linear-gradient(#b7f794, #97f464 70%);
	background-image: -webkit-linear-gradient(#b7f794, #97f464 70%);
	background-image: linear-gradient(#b7f794, #97f464 70%);
}
.chart .peach {
	background: #ffcd92;
	border: 1px solid #ffcd92;
	background-size: 100%;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffe4c5), color-stop(70%, #ffcd92));
	background-image: -moz-linear-gradient(#ffe4c5, #ffcd92 70%);
	background-image: -webkit-linear-gradient(#ffe4c5, #ffcd92 70%);
	background-image: linear-gradient(#ffe4c5, #ffcd92 70%);
}
.chart .grape {
	background: #ab64f4;
	border: 1px solid #ab64f4;
	background-size: 100%;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c594f7), color-stop(70%, #ab64f4));
	background-image: -moz-linear-gradient(#c594f7, #ab64f4 70%);
	background-image: -webkit-linear-gradient(#c594f7, #ab64f4 70%);
	background-image: linear-gradient(#c594f7, #ab64f4 70%);
}
/*********** end bar cart **************/
body, * {
	box-sizing: border-box;
}
.ordrtime {
	max-width: 1000px;
	margin: 0 auto;
	background:url(http://biolablogistics.com/img/bg/black_denim.png) repeat;
	padding:10px 0 40px;
}
.order-time-container {
	display: block;
	
	text-align: center; background:url(http://biolablogistics.com/img/bg/black_denim.png) repeat;
}
.order-time-container::after {
	clear: both;
	content: "";
	display: table;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
.order-time-container {
	padding-top: 0;
}
}
.order-time-container .characters {
	display: block;
	margin: 0 auto;
	position: relative;
	vertical-align: top;
	width: 100%;
}

@media only screen and (min-width: 481px) and (max-width: 1199px) {
.order-time-container .characters {
	display: block;
	width: 100%;
}
.order-time-container .characters::after {
	clear: both;
	content: "";
	display: table;
}
}
.order-time-container .characters .character {
	float: left;
	height: 162px;
	margin: 0 1%;
	position: relative;
	width: 48%;
}
.order-time-container .characters .character::after {
	clear: both;
	content: "";
	display: table;
}
.order-time-container .characters .character::before, .order-time-container .characters .character::after {
	content: "";
	display: block;
	height: 80px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.order-time-container .characters .character::before {
	background: #03a199 none repeat scroll 0 0;
	border-radius: 4px 4px 0 0;
}
.order-time-container .characters .character::after {
	background: #04bab1 none repeat scroll 0 0;
	border-radius: 0 0 4px 4px;
	top: 82px;
}
.order-time-container .characters .character span {
	color: #fff;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 100px;
	height: 162px;
	left: 0;
	line-height: 162px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 3;
}
.order-time-counter {
	float: left;
	width: 20%;
}
.order-time-part1, .order-time-part2 {
	color: #ffffff;
	display: block;
	float: left;
	font-size: 1.8rem;
	height: 162px;
	line-height: 162px;
	padding: 0 10px;
	vertical-align: top;
	width: 40%;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
.order-time-part1, .order-time-part2 {
	font-size: 1.3rem;
}
}
.order-time-part1 {
	text-align: right;
}
.order-time-part2 {
	text-align: left;
}
.cleafix {
	clear: both;
}
/*------------------end Ordr Timimg ---------------*/
.ordrtime2 {
	max-width: 1000px;
	background:#eeeeee;
	padding:30px 0 50px;
}
.order-time-container2 {
	display: block;
	
	text-align: center;
}
.order-time-container2::after {
	clear: both;
	content: "";
	display: table;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
.order-time-container2 {
	padding-top: 0;
}
}
.order-time-container2 .characters {
	display: block;
	margin: 0 auto;
	position: relative;
	vertical-align: top;
	width: 100%;
}

@media only screen and (min-width: 481px) and (max-width: 1199px) {
.order-time-container2 .characters {
	display: block;
	width: 100%;
}
.order-time-container2 .characters::after {
	clear: both;
	content: "";
	display: table;
}
}
.order-time-container2 .characters .character {
	float: left;
	height: 162px;
	margin: 0 1%;
	position: relative;
	width: 18%;
}
.order-time-container2 .characters .character::after {
	clear: both;
	content: "";
	display: table;
}
.order-time-container2 .characters .character::before, .order-time-container2 .characters .character::after {
	content: "";
	display: block;
	height: 80px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.order-time-container2 .characters .character::before {
	background: #03a199 none repeat scroll 0 0;
	border-radius: 4px 4px 0 0;
}
.order-time-container2 .characters .character::after {
	background: #04bab1 none repeat scroll 0 0;
	border-radius: 0 0 4px 4px;
	top: 82px;
}
.order-time-container2 .characters .character span {
	color: #fff;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 100px;
	height: 162px;
	left: 0;
	line-height: 162px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 3;
}
.order-time-counter2 {
	margin:0 auto;
	width: 80%;
}

.counter {

font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 100px;
	height: 162px;
}
/*---------Graph-------------*/
#q-graph {
  display: block;
  /* fixes layout wonkiness in FF1.5 */
  position: relative;
  width:700px;
  height: 350px;
  margin:0 auto;
  padding: 0;
  background: transparent;
  font-size: 11px;
}

#q-graph caption {
  caption-side: top;
  width: 700px;
  text-transform: uppercase;
  letter-spacing: .5px;
  top: -40px;
  position: relative;
  z-index: 10;
  font-weight: bold;
  font-size:24px;
}

#q-graph tr, #q-graph th, #q-graph td {
  position: absolute;
  bottom: 0;
  width: 218px;
  z-index: 2;
  margin: 0;
  padding: 0;
  text-align: center;
}

#q-graph td {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
#q-graph td:hover {
  background-color: #000000;
  opacity: .9;
  color: #4d4d4d;
}

#q-graph thead tr {
  left: 50%;
  bottom: -20px;
  margin-left:-3em;
}

#q-graph thead th {
  width: 1em;
  height: auto;
  padding: 0.5em 1em;
}

#q-graph thead th.fedex {
  top: 0;
  left: 0;
  line-height: 2;
}

#q-graph thead th.uber {
  top: 2.75em;
  line-height: 2;
  left: 0;
}
#q-graph thead th.biolab {
  top: 5.70em;
  line-height: 2;
  left: 0;
}

#q-graph tbody tr {
  height: 296px;
  padding-top: 2px;
  color: #AAA;
}

#q-graph #q1 {
  left: 0;
}

#q-graph #q2 {
  left: 270px;
}

#q-graph #q3 {
  left: 540px;
}

#q-graph #q4 {
  left: 450px;
  border-right: none;
}

#q-graph tbody th {
  bottom: -1.75em;
  vertical-align: top;
  font-weight: normal;
  color: #333;
}

#q-graph .bar {
  width: 60px;
  border: 1px solid;
  border-bottom: none;
  color: #000;
}

#q-graph .bar p {
  margin: -32px 8px 0;
  padding: 0;
  opacity: 1;
  position: absolute;
  width:40px;
  color: #333333;
  background: #ffffff;
  height: 22px;
  line-height: 22px;
  text-align: center;
  border-radius: 3px;
  border:1px solid #bababa;
}
#q-graph .bar p:after {
	content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #ffffff;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
#q-graph .fedex {
  left: 13px;
  background-color: #20546E;
  border-color: transparent;
}

#q-graph .uber {
  left: 85px;
  background-color: #815655;
  border-color: transparent;
}
#q-graph .biolab {
  left: 158px;
  background-color: #0B9887;
  border-color: transparent;
}

#ticks {
  position: relative;
  top: -264px;
  left: 2px;
  width: 696px;
  height: 300px;
  z-index: 1;
  margin:0 auto -300px;
  font-size: 10px;
  font-family: "fira-sans-2", Verdana, sans-serif;
}

#ticks .tick {
  position: relative;
  width: 700px;
}

#ticks .tick p {
  position: absolute;
  left: -5em;
  top: -1.0em;
  margin: 0 0 0 0.5em;
}
.instraction{
}
.instraction ul{
	margin:50px auto;
	text-align:center;
}
.instraction ul li{
	margin:0;
	display: inline-block;
	padding:0 20px 0 5px;
	border-left:10px solid #815655;
}
.instraction ul li:first-child{
	border-left:10px solid #20546E;
}
.instraction ul li:last-child{
	border-left:10px solid #0B9887;
}
/*------------end graph ---------*/