@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
body {
	font-family: 'Open Sans', sans-serif;
}
hr.style-two {
	border: 0;
	height: 2px;
	width:150px;
	margin-left: auto;
    margin-right: auto;
	background-image: linear-gradient(to right, rgba(255, 126, 0, 0), rgba(255, 126, 0, 0.8), rgba(255, 126, 0, 0));
}
.wraper {
	width: 1000px;
	height: auto;
	margin: 0 auto;
}
.clearfix {
	clear: both;
}
.video_banner {
	width: 1000px;
}
.servicebox {
	background:#ffffff;
	width: 100%;
	padding:80px 0 60px;
}
.servicebox ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.servicebox ul li {
	float: left;
	margin: 0 16px;
	padding: 0;
	vertical-align: top;
	width: 30%;
	text-align: center;
}
.servicebox span.doctor {
	border: 1px solid #136BA0;
	border-radius: 50%;
	display: block;
	height: 125px;
	width: 125px;
	margin: 0 auto;
	line-height: 125px;
	text-align: center;
	transition: all 1s ease 0s;
}
.servicebox li:hover img {
	transform: rotate(45deg);
}
.servicebox span.track {
	border: 1px solid #B3312C;
	border-radius: 50%;
	display: block;
	height: 125px;
	width: 125px;
	margin: 0 auto;
	line-height: 125px;
	text-align: center;
}
.servicebox span.lab {
	border: 1px solid #09968B;
	border-radius: 50%;
	display: block;
	height: 125px;
	width: 125px;
	margin: 0 auto;
	line-height: 125px;
	text-align: center;
}
.servicebox span img {
	transition: all 1s ease 0s;
	vertical-align: middle;
}
.testimonials {
	widows: 100%;
	padding:50px 25px;
	background:#eeeeee; 
	background:url(http://biolablogistics.com/img/bg/noisy_net.png) repeat;
}
.headr {
	margin-bottom: 50px;
	text-align: center;
}
.headr h2 {
	color: #0B9887;
}
.testmonial_headr h4 {
	font-weight: 400;
}
.clientslogo_headr {
	margin-bottom: 30px;
}
.clientslogo_headr h2, h4 {
	text-align: center;
}
.clientslogo_headr h2 {
	color: #0B9887;
}
.clientslogo_headr h4 {
	font-weight: 400;
}
.testimonials ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.testimonials ul li {
	float: left;
	margin: 0 16px;
	padding: 0;
	vertical-align: top;
	width: 30%;
}
.quote {
	background: #ffffff;
	padding: 15px 20px 5px 15px;
	border-radius: 5px;
	margin-bottom: 30px;
	transition: All 1s ease;
	-webkit-transition: All 1s ease;
	-moz-transition: All 1s ease;
	-o-transition: All 1s ease;
}
.quote:after {
	content: '';
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 20px 18px 0 18px;
	border-color: #ffffff transparent transparent transparent;
	position: relative;
	top: 37px;
	left: 20px;
}
.quote:hover {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	box-shadow: 0px 0px 10px #333333;
}
.student {
	margin-left: 25px;
}
.student .photo {
	background-color: #ccc;
	border-radius: 100px;
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 10px;
}
.student p {
	position: relative;
	top: 5px;
	text-transform: uppercase;
}
.student p:nth-child(2) {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 0;
}
.student p:nth-child(3) {
	font-size: 14px;
	color: #777;
}
/*************testimonilas*********/
.carousel-control.left, .carousel-control.right {
	background: none;
	width: 25px;
}
.carousel-control.left {
	left: -45px;
}
.carousel-control.right {
	right: 2px;
}
.broun-block {
	padding-bottom: 34px;
}
.block-text {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 3px 8px #2c2222;
	color: #626262;
	font-size: 14px;
	margin-top: 27px;
	padding: 15px 18px;
	transition: All 1s ease;
	-webkit-transition: All 1s ease;
	-moz-transition: All 1s ease;
	-o-transition: All 1s ease;
}
.block-text:after {
	content: '';
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 20px 18px 0 18px;
	border-color: #ffffff transparent transparent transparent;
	position: relative;
	top: 45px;
	left: 110px;
}
.block-text:hover {
}
.block-text a {
	color: #333333;
	font-size: 20px;
	font-weight: bold;
	line-height: 26px;
	text-decoration: none;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.mark {
	padding: 12px 0;
	background: none;
}
.block-text p {
	color: #585858;
	font-style: italic;
	line-height: 24px;
}
.sprite {
}
.sprite-i-triangle {
	background-position: 0 -1298px;
	height: 44px;
	width: 50px;
}
.block-text ins {
	bottom: -44px;
	left: 50%;
	margin-left: -60px;
}
.block {
	display: block;
}
.zmin {
	z-index: 0;
}
.ab {
	position: absolute;
}
.person-text {
	padding: 20px 0 0;
	text-align: center;
	z-index: 2;
}
.person-text a {
	color: #0B9887;
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin-top: 3px;
}
.person-text i {
	color: #ffffff;
	font-size: 13px;
}
.rel {
	position: relative;
}
.leftarrow {
	background: url(images/leftarrow.png) no-repeat;
	position: absolute;
	top: 30%;
	width: 48px;
	height: 48px;
	z-index: 1;
}
.rightarrow {
	background: url(images/rightarrow.png) no-repeat;
	position: absolute;
	top: 30%;
	width: 48px;
	height: 48px;
	z-index: 1;
}
/********clients logo**********/
.clientslogo {
	background:#ffffff;
	padding:50px 0 30px;
}
.clientslogo ul {
	background: #ffffff;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
.clientslogo ul.row1 {
	padding: 50px 0;
}
.clientslogo ul.row2 {
	padding: 0 0 30px;
}
.clientslogo ul li {
	margin: 0;
	padding-right: 60px;
	display: inline-block;
}
.clientslogo ul li:last-child {
	padding-right: 0;
}
.clientslogo img {
	-webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	vertical-align: middle;
}
.clientslogo img:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
/**************graph*******/
.graph {
	background:#eeeeee;
	widows: 100%;
	padding: 50px 20px 80px;
}
.graph_headr {
	margin-bottom: 70px;
}
.graph_headr h2, h4 {
	text-align: center;
}
.graph_headr h4 {
	font-weight: 400;
}
.chart {
	clear: both;
	padding: 0;
	width: 100%;
}

@media (min-width: 700px) {
.chart {
	background: url("images/bg-chart.png") right top repeat-x;
	height: 425px;
	margin: 0 auto emCalc(-32px);
}
}
.chart li {
	display: block;
	height: 125px;
	padding: emCalc(25px) 0;
	position: relative;
	text-align: center;
	vertical-align: bottom;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px;
	border-radius: 4px 4px 0 0;
	-moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
	-webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
	box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
}
.chart li:first-child {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

@media (min-width: 700px) {
.chart li {
	display: inline-block;
	height: 425px;
	margin: 0 12% 0 0;
	width: 15%;
}
}
.chart .axis {
	display: none;
	top: emCalc(-45px);
	width: 8%;
}

@media (min-width: 700px) {
.chart .axis {
	display: inline-block;
}
}
.chart .lebel {
	font-weight: 700;
	margin: -5px 0 75px;
}
.chart .percent {
	letter-spacing: -3px;
	opacity: .4;
	width: 100%;
	font-size: 30px;
	font-size: 1.875rem;
}

@media (min-width: 700px) {
.chart .percent {
	position: absolute;
	font-size: 62px;
	font-size: 3.875rem;
}
}
.chart .percent span {
	font-size: 30px;
	font-size: 1.875rem;
}
.chart .skill {
	font-weight: 800;
	opacity: 1;
	overflow: hidden;
	text-transform: uppercase;
	width: 100%;
	font-size: 14px;
	font-size: 0.875rem;
}

@media (min-width: 700px) {
.chart .skill {
	bottom: 20px;
	position: absolute;
	font-size: 16px;
	font-size: 1.5rem;
	color: #ffffff;
}
}
.chart .teal {
	background: #20546E;
	border: 1px solid #164e6a;
	background-size: 100%;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #337596), color-stop(70%, #20546E));
	background-image: -moz-linear-gradient(#337596, #20546E 70%);
	background-image: -webkit-linear-gradient(#337596, #20546E 70%);
	background-image: linear-gradient(#337596, #20546E 70%);
}
.chart .salmon {
	background: #815655;
	border: 1px solid #734a49;
	background-size: 100%;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8f6362), color-stop(70%, #815655));
	background-image: -moz-linear-gradient(#8f6362, #815655 70%);
	background-image: -webkit-linear-gradient(#8f6362, #815655 70%);
	background-image: linear-gradient(#8f6362, #815655 70%);
}
.chart .lime {
	background: #97f464;
	border: 1px solid #97f464;
	background-size: 100%;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b7f794), color-stop(70%, #97f464));
	background-image: -moz-linear-gradient(#b7f794, #97f464 70%);
	background-image: -webkit-linear-gradient(#b7f794, #97f464 70%);
	background-image: linear-gradient(#b7f794, #97f464 70%);
}
.chart .peach {
	background: #ffcd92;
	border: 1px solid #ffcd92;
	background-size: 100%;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffe4c5), color-stop(70%, #ffcd92));
	background-image: -moz-linear-gradient(#ffe4c5, #ffcd92 70%);
	background-image: -webkit-linear-gradient(#ffe4c5, #ffcd92 70%);
	background-image: linear-gradient(#ffe4c5, #ffcd92 70%);
}
.chart .grape {
	background: #ab64f4;
	border: 1px solid #ab64f4;
	background-size: 100%;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c594f7), color-stop(70%, #ab64f4));
	background-image: -moz-linear-gradient(#c594f7, #ab64f4 70%);
	background-image: -webkit-linear-gradient(#c594f7, #ab64f4 70%);
	background-image: linear-gradient(#c594f7, #ab64f4 70%);
}
/*********** end bar cart **************/
body, * {
	box-sizing: border-box;
}
.ordrtime {
	max-width: 1000px;
	margin: 0 auto;
	background:#ffffff;
	padding:50px 0 80px;
}
.order-time-container {
	display: block;
	padding-top: 30px;
	text-align: center;
}
.order-time-container::after {
	clear: both;
	content: "";
	display: table;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
.order-time-container {
	padding-top: 0;
}
}
.order-time-container .characters {
	display: block;
	margin: 0 auto;
	position: relative;
	vertical-align: top;
	width: 100%;
}

@media only screen and (min-width: 481px) and (max-width: 1199px) {
.order-time-container .characters {
	display: block;
	width: 100%;
}
.order-time-container .characters::after {
	clear: both;
	content: "";
	display: table;
}
}
.order-time-container .characters .character {
	float: left;
	height: 162px;
	margin: 0 1%;
	position: relative;
	width: 48%;
}
.order-time-container .characters .character::after {
	clear: both;
	content: "";
	display: table;
}
.order-time-container .characters .character::before, .order-time-container .characters .character::after {
	content: "";
	display: block;
	height: 80px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.order-time-container .characters .character::before {
	background: #03a199 none repeat scroll 0 0;
	border-radius: 4px 4px 0 0;
}
.order-time-container .characters .character::after {
	background: #04bab1 none repeat scroll 0 0;
	border-radius: 0 0 4px 4px;
	top: 82px;
}
.order-time-container .characters .character span {
	color: #fff;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 100px;
	height: 162px;
	left: 0;
	line-height: 162px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 3;
}
.order-time-counter {
	float: left;
	width: 20%;
}
.order-time-part1, .order-time-part2 {
	color: #3f4b56;
	display: block;
	float: left;
	font-size: 1.8rem;
	height: 162px;
	line-height: 162px;
	padding: 0 10px;
	vertical-align: top;
	width: 40%;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
.order-time-part1, .order-time-part2 {
	font-size: 1.3rem;
}
}
.order-time-part1 {
	text-align: right;
}
.order-time-part2 {
	text-align: left;
}
.cleafix {
	clear: both;
}
/*------------------end Ordr Timimg ---------------*/
.ordrtime2 {
	max-width: 1000px;
	background:#eeeeee;
	padding:50px 0 80px;
}
.order-time-container2 {
	display: block;
	padding-top: 30px;
	text-align: center;
}
.order-time-container2::after {
	clear: both;
	content: "";
	display: table;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
.order-time-container2 {
	padding-top: 0;
}
}
.order-time-container2 .characters {
	display: block;
	margin: 0 auto;
	position: relative;
	vertical-align: top;
	width: 100%;
}

@media only screen and (min-width: 481px) and (max-width: 1199px) {
.order-time-container2 .characters {
	display: block;
	width: 100%;
}
.order-time-container2 .characters::after {
	clear: both;
	content: "";
	display: table;
}
}
.order-time-container2 .characters .character {
	float: left;
	height: 162px;
	margin: 0 1%;
	position: relative;
	width: 18%;
}
.order-time-container2 .characters .character::after {
	clear: both;
	content: "";
	display: table;
}
.order-time-container2 .characters .character::before, .order-time-container2 .characters .character::after {
	content: "";
	display: block;
	height: 80px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.order-time-container2 .characters .character::before {
	background: #03a199 none repeat scroll 0 0;
	border-radius: 4px 4px 0 0;
}
.order-time-container2 .characters .character::after {
	background: #04bab1 none repeat scroll 0 0;
	border-radius: 0 0 4px 4px;
	top: 82px;
}
.order-time-container2 .characters .character span {
	color: #fff;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 100px;
	height: 162px;
	left: 0;
	line-height: 162px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 3;
}
.order-time-counter2 {
	margin:0 auto;
	width: 80%;
}

.counter {

font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 100px;
	height: 162px;


}