.txt_fture{color:#fff;font-size:13px;float:left; padding-top:10px;line-height:18px;font-family: 'Bookman-Light';clear:both;margin:0px;}

.member_bx{margin-right:22px;
}

ul.botom_links_1{  padding-left:59px; padding-right:58px;	}
ul.botom_links_1 li{padding-right: 30px;}
ul.botom_links_2{padding: 40px 0 40px 0px;}
ul.botom_links_2 li{padding-right:33px;}
