<?php 
error_reporting(0);
 ?>
<style>
.select label{ display:none;}
table.sortable thead {
    background-color:#eee;
    color:#666666;
    //font-weight: bold;
    cursor: pointer;
}
table.sortable th.st:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}
.st a{
color :white !important;
}
</style>
<script type="text/javascript">
function callajax(res){
	$.ajax({
		url: "<?php echo Router::url(array('controller'=>'orders','action'=>'mahitable'));?>",
		
		type: "POST",
		data:'res='+res ,
		success:function(data){
              $('#tabble').html('');
              $('#tabble').append(data);
            },
         error:function(data){
			 alert('Waiting for data...');
		 }
        });
}
function update_priority(status_val,order_id)
{
	var idio = 'priority'+order_id;
		$.ajax({
		type: "POST",
		url: BASE_URL + "orders/update_priority",
		data: {'status_id': status_val, 'order_id': order_id, 'selected_text': 'cancel'},
		success: function (resp) {
			document.getElementById(idio).disabled=true;
			alert(resp);
			//location.reload();
		}
	});
	}
function update_recipient(status_val,order_id)
{
	var idio = 'recipient'+order_id;
		$.ajax({
		type: "POST",
		url: BASE_URL + "orders/update_recipient",
		data: {'status_id': status_val, 'order_id': order_id, 'selected_text': 'cancel'},
		success: function (resp) {
			document.getElementById(idio).disabled=true;
			alert(resp);
			//location.reload();
			
		}
	});
	}

function changestatus(status_val,order_id)
	{
		//alert(status_val+'--'+order_id);return false;
		$.ajax({
		type: "POST",
		url: BASE_URL + "orders/update_status",
		data: {'status_id': status_val, 'order_id': order_id, 'selected_text': 'cancel'},
		success: function (resp) {	
			location.reload();
			 
		}
	});
	}
	



function callajaxadd(){
	
		var checkedValue = []; 
var inputElements = document.getElementsByClassName('arc');
for(var i=0; inputElements[i]; ++i){
      if(inputElements[i].checked){
           checkedValue[i] = inputElements[i].value;
        
          
      }
}
	for (i=0; i<checkedValue.length;i++)
	{
	//alert(checkedValue[i]);
	//var res = document.getElementById('arc').value;
	
	$.ajax({
		url: "<?php echo Router::url(array('controller'=>'orders','action'=>'mahiarchivelab'));?>",
		
		type: "POST",
		data:'res='+checkedValue[i],
		success:function(data){
alert(data);
             location.reload();
             // $('#tabble').html('');
             // $('#tabble').append(data);
            },
         error:function(data){
			 alert('Waiting for data...');
		 }
        });
        }
}

function doSearch() {
    var searchText = document.getElementById('searchTerm').value;
    var targetTable = document.getElementById('dataTable');
    var targetTableColCount;
            
    //Loop through table rows
    for (var rowIndex = 0; rowIndex < targetTable.rows.length; rowIndex++) {
        var rowData = '';

        //Get column count from header row
        if (rowIndex == 0) {
           targetTableColCount = targetTable.rows.item(rowIndex).cells.length;
           continue; //do not execute further code for header row.
        }
                
        //Process data rows. (rowIndex >= 1)
        for (var colIndex = 0; colIndex < targetTableColCount; colIndex++) {
            rowData += targetTable.rows.item(rowIndex).cells.item(colIndex).textContent;
        }

        //If search term is not found in row data
        //then hide the row, else show
        if (rowData.indexOf(searchText) == -1)
            targetTable.rows.item(rowIndex).style.display = 'none';
        else
            targetTable.rows.item(rowIndex).style.display = 'table-row';
    }
}

function callajaxrem(){
	var checkedValue = []; 
var inputElements = document.getElementsByClassName('arc');
for(var i=0; inputElements[i]; ++i){
      if(inputElements[i].checked){
           checkedValue[i] = inputElements[i].value;
        
          
      }
}
	for (i=0; i<checkedValue.length;i++)
	{
	//alert(checkedValue[i]);
	//var res = document.getElementById('arc').value;

	$.ajax({
		url: "<?php echo Router::url(array('controller'=>'orders','action'=>'mahiarchiveremlab'));?>",
		
		type: "POST",
		data:'res='+checkedValue[i],
		success:function(data){
alert(data);
             location.reload();
             // $('#tabble').html('');
             // $('#tabble').append(data);
            },
         error:function(data){
			 alert('Waiting for data...');
		 }
        });
	}
}


function sortTable(table, col, reverse) {
    var tb = table.tBodies[0], // use `<tbody>` to ignore `<thead>` and `<tfoot>` rows
        tr = Array.prototype.slice.call(tb.rows, 0), // put rows into array
        i;
    reverse = -((+reverse) || -1);
    
    tr = tr.sort(function (a, b) { // sort rows
        return reverse // `-1 *` if want opposite order
            * (a.cells[col].textContent.trim() // using `.textContent.trim()` for test
                .localeCompare(b.cells[col].textContent.trim())
                
               );
              
    });
    for(i = 0; i < tr.length; ++i) tb.appendChild(tr[i]); // append each row in order
}

function makeSortable(table) {
    var th = table.tHead, i;
    th && (th = th.rows[0]) && (th = th.cells);
    if (th) i = th.length;
    else return; // if no `<thead>` then do nothing
    while (--i >= 0) (function (i) {
        var dir = 1;
        th[i].addEventListener('click', function () {sortTable(table, i, (dir = 1 - dir))});
       
    }(i));
}
 
function makeAllSortable(parent) {
    parent = parent || document.body;
    var t = parent.getElementsByTagName('table'), i = t.length;
    while (--i >= 0) makeSortable(t[i]);
//     sortrevind = document.getElementsByClassName('st');
// alert(sortrevind);
// sortrevind.innerHTML = stIsIE ? '&nbsp<font face="webdings">5</font>' : '&nbsp;&#x25B4;';
}

window.onload = function () {makeAllSortable();check();};
</script>
<div class="new-order ">
	
	<?php 
	echo $this->Html->script('sorttable');






	//pr($orders); die; ?>
		<?php if($this->Session->read('Auth.User.profile_status') == 0) { ?>
	<label id="ww">Your profile has not been activated yet, To send request please <a href="<?php echo $this->Html->url("/send-email"); ?>" title="Send Approval Email">Click here</a></label>
	<?php } else { ?>
	<?php echo $this->Session->Flash();?>
		<?php echo $this->Form->create("User",array("div"=>false,'type' => 'get')); ?>	
		<h2 class="col-lg-3">Orders</h2>
		<div class="col-sm-5" style="width:initial;"> 
			<div class="searchbox_ld">
			
				<?php echo $this->Form->input("searchval",array("type"=>'text','id'=>'searchTerm',"placeholder"=>'Search by any header','class'=>'form-control search_box','onkeyup'=>"doSearch()","div"=>false,"label"=>false,"value"=>(isset($set_val['searchval']) && !empty($set_val['searchval']))?$set_val['searchval']:'' )); ?>
				<?php echo $this->Form->submit("Search",array("label"=>false,"div"=>false,"class"=>'invite-button nomargin submitsearch search-btn',"id"=>'submitbtn',"attr"=>'search')); ?>
					
			</div>
		</div>		
		<?php echo $this->Form->end(); ?>
<br>
				<div class="pull-right">
			<?php if(isset($data) && !empty($data)) { ?>
<a id="add_btn" class="add-btn" onclick = 'callajaxrem();' >Unarchive Orders</a>&nbsp;&nbsp;
				<a id="add_btn" class="add-btn" href="<?php echo $this->Html->url('/view-orders') ?>" >All orders</a>
			<?php } else {	?>
<a id="add_btn" class="add-btn" onclick = 'callajaxadd();'>Archive Orders</a>&nbsp;&nbsp;
		       <a id="add_btn" class="add-btn" href="<?php echo $this->Html->url('/archive-orders-labs') ?>" >Access Archive</a>
		     <?php } ?>
		</div>

	<div class="responsive-table">
		<table class="table table-striped sortable" id="dataTable">
			<thead>
			<tr>
<th>&nbsp;</th>
<!-- <th>&nbsp;</th> -->
				<th class="st"><?php echo $this->Paginator->sort('id',"Order ID"); ?></th>
                                 <th class="st">Patient</th>
                                <th class="st">Procedure</th>
                                <th class="st">DOCTOR</th> 
                                <!--
<th class="st">From</th>
<th class="st">To</th>
-->

                                <th class="st">Order Status</th>
                                <th class="st">Price</th>
				<th>&nbsp;</th>
                               
                                
			</tr>	
			 </thead>
                            <tbody>
					
			<?php 
			
			$i=0; foreach($orders as $order){  
				
			//echo "<pre>"; print_r($order); echo "</pre>";
			$status = $this->requestAction('App/getstatus/'.$order['Order']['id']);
		if(  !empty($order['OrderRequest']['lab_id']) && $order['OrderRequest']['lab_id'] == $this->Session->read("Auth.User.id") ){ 
					$orde = $order['Order']['id'];
						?>
			<tr>
<!-- <td style="width:19px;" class="class_toggle plus"></td> -->
<td>
<?php if($order['Status']['title'] == 'Order Completed' || $order['Status']['title'] == 'Cancel' || $order['Status']['title'] == 'Lab Rejected'){ ?>
				<input type='checkbox' class="arc" name='arc[]' id='arc_<?php echo $i;?>' value='<?php echo $orde; ?>'>
<?php }  $i++; ?>
</td>
<td>
<?php 
$ex1 =explode('-',$order['Order']['order_manualid']);
$count_ex1 = strlen($ex1[0]);
$ordee_n = $order['Order']['order_manualid'];
echo $this->Html->link($ordee_n,array("controller"=>"orders","action"=>'viewOrderForLab',$order['Order']['id']));
// echo $order['Order']['id'];?>
</td>

<td>
<?php $r = unserialize($order['OrderDetail']['details']); echo $r[0]['patientName'];?>
</td> 
<td>
<?php  $lab = $this->requestAction('App/getprocedure/'.$orde); 
									if($lab == ''){
										echo "N-A";
									}
									echo $lab;
									?>
</td>
<td>
<?php 

			  $doc_id = $order['Order']['doctor_id'];
			  $doc_name = $order['Doctor']['first_name'].' '.$order['Doctor']['last_name'];
			echo $this->Html->link($doc_name , array("controller" => "profile", "action" =>$doc_id , $this->Common->makeurl($order['Doctor']['first_name'])));
			 ?>
</td>

<!--
<td>
<?php $lab2 = $this->requestAction('App/companydetail/'.$this->Session->read("Auth.User.id")); 
$state = $this->requestAction('App/getstate/'.$lab2['Userdetail']['state_id']);
			$st = $state[0]['State']['name'].', '.$state[0]['State']['code'].'-';
			echo $lab2['Userdetail']['address'].'<br>'.$lab2['Userdetail']['city'].', '.$st.''.$lab2['Userdetail']['zipcode'];
?>
</td>
<td>
<?php $doc2 = $this->requestAction('App/companydetail/'.$doc_id); 
$state1 = $this->requestAction('App/getstate/'.$doc2['Userdetail']['state_id']);
			$st1 = $state1[0]['State']['name'].', '.$state1[0]['State']['code'].'-';
			echo $doc2['Userdetail']['address'].'<br>'.$doc2['Userdetail']['city'].', '.$st1.''.$doc2['Userdetail']['zipcode'];
?>
</td>
-->
<td>
<?php echo '<a href="#" style="cursor:pointer;color:black;" data-toggle="modal" onclick = "callajax('.$orde.');"class="open-mahiModal" data-target="#mahiModal" >'; 
echo $status;
 echo '</a>'; ?>
	
</td>
<td>
							<?php 
							//print_r($this->Session->read("Auth.User"));
								$lab_id = $this->Session->read("Auth.User.id");
								$pre = $this->requestAction('App/getprepay/'.$lab_id);
								if($pre !=0){
								$pre_show = ("Prepay Amt: $".$order['Order']['budget']*$pre/100).'<br>';
							}
							
							if (!empty($order['OrderPayment']['payment'])) { 
$pri2 = $this->requestAction('App/getprize/'.$orde);
								echo "Order Cost: "."$".$order['OrderPayment']['payment']."<br>";
echo $pre_show;
if(!$pri2[1]['OrderPayment']['payment'] == ''){
echo "Delivery: "."$".$pri2[1]['OrderPayment']['payment'];
}
							} elseif (!empty($order['Order']['budget'])) {
								echo "Order Cost: "."$".$order['Order']['budget']."<br>";
echo $pre_show;
							} else {
								echo "N-A";
							} ?>
</td> 
<td>
<?php 
	$check_payment = $this->requestAction('App/getlabstatus/'.$orde);
	if($status =='Order Submitted'){ $option = array('2'=>'Accept','3'=>'Reject'); 
	echo $this->Form->input('select_action', array(
    'options' => array($option),
    'empty' => 'Select Action',
    'onchange'=> "update_status(this.value,".$order['Order']['id'].")",
    'style'=>'height:30px; border-radius:2px; color:#b2312c; opacity:9;'
                       ));}
    else if($status =='In Progress'||$status =='Lab Accepted'){ $option = array('7'=>'Ready to Dispatch');
			echo $this->Form->input('select_action', array(
    'options' => array($option),
    'empty' => 'Select Action',
    'onchange'=> "update_status(this.value,".$order['Order']['id'].")",
    'style'=>'height:30px; border-radius:2px; color:#b2312c; opacity:9;'
)); }
	else if($status =='Biolab Pickup' || $status =='Biolab Delivered'||$status=='Remake Submitted'||$status=='Order Completed'){ 
				if($check_payment == 1){
										 echo '<div class="black-btn-outer pull-right">';
	echo $this->Html->link("View Order",array("controller"=>"orders","action"=>'viewOrderForLab',$order['Order']['id']),array("class"=>"black-btn"));
										 echo '</div>';
								 }else { ?>
									<div class="black-btn-outer pull-right">
										<?php echo $this->Html->link("Make Payment",array("controller"=>"orders","action"=>'labpayment',$order['Order']['id']),array("class"=>"black-btn"));?>	
										</div>
									 <?php }
									 }
	else if($status=='Cancel'||$status=='Ready to Dispatch'||$status=='Lab Rejected') {?><div class="black-btn-outer pull-right"><?php echo $this->Html->link("View Order",array("controller"=>"orders","action"=>'viewOrderForLab',$order['Order']['id']),array("class"=>"black-btn"));?>	</div><?php  }
			 ?>
</td>
					</tr>
					<!--
<tr class="detail_data" style="display:none;">
	<td>
	<?php //print_r($order); ?>
		<a href="#" data-toggle="modal" data-target="#mahiModal2" onclick="note('<?php echo $order['Order']['note']; ?>',<?php echo $order['Order']['id']; ?>);">Note</a></td><td></td>
	<td>
	<b>Pickup</b><br><?php 
	$labb = $this->Session->read("Auth.User.id");
	echo $this->requestAction('App/getpickupdata/'.$order['Order']['doctor_id'].'/'.$labb."/7");
	
						 ?></td>
	<td>
<b>Dropoff</b><br><?php 

		echo $this->requestAction('App/getpickupdata/'.$order['Order']['doctor_id'].'/'.$order['Order']['lab_id']."/11");
					?>
		</td>
	<td>
		<b>Distance</b><br>
	<?php
	echo $this->requestAction('App/getdistance/'. $doc_id);
	?>
	</td>
		<td>
		<?php
		echo '<b>Payment Status</b>';
		if($check_payment == ''){echo '<p>Pending</p>';}
		elseif($check_payment == 1){
			echo '<p>Payment Done</p>';
		}else{
			echo '<p style="color:red">Payment Required</p>';
			}
		?>
		</td>
		<td>
			<b>Priority</b><br>
			<?php
			$idsaa = 'priority'.$order['Order']['id'];
		$option = array('1'=>'Morning','2'=>'Afternoon','3'=>'Rush'); 
			if($order['Order']['priority'] == 0){
	echo $this->Form->input('select_action', array(
    'options' => array($option),
    'empty' => 'Select Priority',
    'onchange'=> "update_priority(this.value,".$order['Order']['id'].")",
    'style'=>'height:30px; border-radius:2px; color:#b2312c; opacity:9;',
    'id'=>$idsaa
                       ));
                       }
           elseif($order['Order']['priority'] == 1){echo 'Morning';}
           elseif($order['Order']['priority'] == 2){echo 'Afternoon';}
           elseif($order['Order']['priority'] == 3){echo 'Rush';}
             ?>
		</td>
		<td>
			<b>Recipient</b><br>
			<?php
			$idsa = 'recipient'.$order['Order']['id'];
			if($order['Order']['recipient'] == 0){
$option = array('1'=>'Yes','2'=>'No'); 
	echo $this->Form->input('select_action', array(
    'options' => array($option),
    'empty' => 'Select Recipient',
    'onchange'=> "update_recipient(this.value,".$order['Order']['id'].")",
    'style'=>'height:30px; border-radius:2px; color:#b2312c; opacity:9;',
    'id'=>$idsa
                       ));}
           elseif($order['Order']['recipient'] == 1){echo 'Yes';}
           elseif($order['Order']['recipient'] == 2){echo 'No';}
             ?>
		</td>
	</tr> -->
				<?php } 
			} ?>
			<?php if(empty($orders)){ ?>
				<tr>
					<td colspan="5" style="color:red;">No Order Found</td>
				</tr>
			<?php }?>
			</tbody>
		</table>
	</div>
	<?php echo $this->Element("pagination"); ?>
	<?php } ?>
</div>



<div id="mahiModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
   <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 style="text-align:center;" class="modal-title">ORDER STATUS</h2>
        </div>
        <div id="tabble" class="modal-body">
          </table>
        </div>
        
      </div>
      
       </div>
</div>

<div id="mahiModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">
   <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 style="text-align:center;" class="modal-title">NOTE</h2>
        </div>
        <div class="modal-body">
          <form method="post" action="orders/notesave">
			<input type="hidden" name="order_id" id="note_oid">
          <textarea id="note" class="note" name="note" style="width: 100%;height: 100px;"></textarea>
          <br><br/>
          <input type="submit" value="Save Note" class="btn btn-success">
          </form>
        </div>
        
      </div>
      
       </div>
</div>

<div id="mahiModaldoc" class="modal fade bs-example-modal-sm" role="dialog">
  <div class="modal-dialog modal-sm">
   <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 style="text-align:center;" class="modal-title">Select Doctor</h2>
        </div>
        <div id="tabble" class="modal-body">
        <?php 
        echo $this->Form->create('order', array('action' => 'adddoctor','onsubmit'=>'return valid()'));
        echo $this->Form->input('orderid', array('type' => 'hidden','id'=>'orderid'));
		echo '<div id="labdoctor2"></div>';
		echo '<p style="color:red;" id="error"></p>';
		echo $this->Form->submit();
		echo $this->Form->end(); 
        ?>
        
        </div>
        
      </div>
      
       </div>
</div>
<script>
		$(document).ready(
		function(){
			$(".class_toggle").click(function(){
			    $(this).parent().next().toggle();
				
					
					if($(this).parent().next().css('display') == 'none')
					{if($(this).hasClass("minus")){$(this).removeClass("minus");$(this).addClass("plus");}}
					else{
						if($(this).hasClass("plus")){$(this).removeClass("plus");$(this).addClass("minus");}
					}
				
			});
			
		}
		
		);
/*function accept_status(status_val, order_id, order_status_id) {
		//alert(status_val+'--'+order_id+'--'+order_status_id);
	if(status_val.length == 0){
		//alert(status_val+'--'+order_id+'--'+order_status_id);
			$('#succ_msg').html('');
			$('.alert-success').removeClass('show');
			$('.alert-success').addClass('hide');
			$('#err_msg').html('Please select a valid status type');
			$('.alert-danger').addClass('show');
			$('.alert-danger').removeClass('hide');
			$('.alert-danger').fadeOut(5000, function () {
			$('.alert-danger').removeClass('show');
			$('.alert-danger').addClass('hide');
			});
			return false;		
	}
	var selected_val = $("#OrderStatus option:selected").text();	
	if (selected_val == 'Select Status') {

	} else {
		var x = confirm("Are you sure you want to change the status? Once you changed the status, you can not select the same for the next time.");
		if (x) {
			
			status_val = status_val;
			order_id = order_id;
			order_status_id = order_status_id;
			selected_val = selected_val;
				if(status_val){
				$("#orderid").val(order_id);
				$('#mahiModaldoc').modal('show');
				$.ajax({
					url: "<?php echo Router::url(array('controller'=>'orders','action'=>'lab_doctor'));?>",
					type: "POST",
		success:function(resp){
               $('#labdoctor2').html('');
        $('#labdoctor2').append(resp);
            }
					
				});
			}
				//abc(status_val, order_id, order_status_id, selected_val);
$.ajax({
		type: "POST",
		url: BASE_URL + "orders/orderstatus2",
		data: {'status_id': status_val, 'order_id': order_id, 'order_status_id': order_status_id, 'selected_text': selected_val},
		success: function (resp) {									
			$("#fade-whole").hide();
			data = $.parseJSON(resp);			
			if (!data.error) {				
				$('#statusID').html(selected_val);
				$('#succ_msg').html(data.message);
				$('.alert-success').addClass('show');
				$('.alert-success').removeClass('hide');
				$('.alert-success').fadeOut(4000, function () {
					$('.alert-success').removeClass('show');
					$('.alert-success').addClass('hide');
				});

			} else if (data.error) {				
				$('#succ_msg').html('');
				$('.alert-success').removeClass('show');
				$('.alert-success').addClass('hide');
				$('#err_msg').html(data.message);
				$('.alert-danger').addClass('show');
				$('.alert-danger').removeClass('hide');
				$('.alert-danger').fadeOut(5000, function () {
					$('.alert-danger').removeClass('show');
					$('.alert-danger').addClass('hide');
				});
			}
		}
	});
			
		} else {
			return false;
		}
	}
} 
function valid(){
	var s1 = document.getElementById('labdoctor').value;
	if(s1 == ''){
		document.getElementById('error').innerHTML='Please select atleast one doctor';
		return false;
	}
	
	}
function note(notee,order_id){
	//alert(notee);
	document.getElementById('note').value = notee;
	document.getElementById('note_oid').value = order_id;
} */
		</script>
