<div class="emailtemplates index">
	<?php echo $this->Form->create("Order",array("div"=>false)); ?>
	<?php echo $this->element("admins/common",array("place"=>'Search by payment ref',"flag"=>false,"pageheader"=>'Transaction Details',"buttontitle"=>'no',"listflag"=>true,"action"=>"no","selflag"=>false)); ?>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<!-- <th><?php //echo $this->Form->input("check",array("label"=>false,"div"=>false,"id"=>'checkall',"type"=>'checkbox')); ?></th>-->
			<th class="leftalign">Order ID</th>
			<th class="leftalign">Course</th>
			<th class="leftalign">Payment From</th>
			<th class="leftalign">Payment To</th>
			<th class="leftalign">Amount (In USD)</th>
			<th class="leftalign">Payment Ref</th>
			<th class="leftalign">Payment Notes</th>
	</tr>
	<?php
	$i = 0;
	foreach ($orders as $order):
		$class = null;
		if ($i++ % 2 == 0) {
			$class = ' class="altrow"';
		}
	?>
	<tr <?php echo $class;?>>
		<td class="leftalign"><?php echo h($order['Order']['id']); ?>&nbsp;</td>
		
	</tr>
<?php endforeach; ?>
	</table>
</div>
<?php 
//echo $this->element("changestatus");
echo $this->Form->end(); ?>
