<?php error_reporting(0);  ?>
<?php echo $this->Html->script("jquery"); ?>
<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<style>
.log{
	display:none;
  position: relative;
  top: -16px;
    left: 161px;
  color: darkgreen;	
}
.cardd{
	border: 2px solid black;
  width: 67%;
  clear: both;
  float: right;
  margin-top: -12px;
  padding: 10px;
}

</style>
<script>
	$(function() {
    $( "#accordion" ).accordion();
  });
	
	$(document).on("contextmenu",function(e){

     if( e.button == 2 ) {
         e.preventDefault();
          callYourownFucntionOrCodeHere();
     }
return true;
});



	</script>
<script type='text/javascript'>
var isCtrl = false;
document.onkeyup=function(e)
{
    if(e.which == 17)
    isCtrl=false;
}
document.onkeydown=function(e)
{
    if(e.which == 17)
    isCtrl=true;
    if((e.which == 85) || (e.which == 67) && (isCtrl == true))
    {
        return false;
    }
}
var isNS = (navigator.appName == "Netscape") ? 1 : 0;
if(navigator.appName == "Netscape") document.captureEvents(Event.MOUSEDOWN||Event.MOUSEUP);
function mischandler(){
    return false;
}
function mousehandler(e){
    var myevent = (isNS) ? e : event;
    var eventbutton = (isNS) ? myevent.which : myevent.button;
    if((eventbutton==2)||(eventbutton==3)) return false;
}
document.oncontextmenu = mischandler;
document.onmousedown = mousehandler;
document.onmouseup = mousehandler;
</script>
<script>
	
	function cardtype(){
		  $('.log').attr('style','display: block');
	  }
	$(document).ready(function(){
   // alert('ddd');
      //  $("#detail").hide();
      
      //alert($('#paymentstatus').val);
    });
 $(function() {
        $('#cardnumber').validateCreditCard(function(result) {

			
		
            $('.log').html('Card Type : '+(result.card_type == null ? 'Checking...' : result.card_type.name));
              
               $('#paymentstatus').val(result.valid);
	
        });
		//console.log(result);
		
    });
    
    function deletecard(userid)
  {
	  //alert(userid); 
	  $.ajax({
                    type: "POST", 		//GET or POST or PUT or DELETE verb
                    url: "<?php echo Router::url(array('controller'=>'orders','action'=>'carddelete'));?>", 		// Location of the service
                    data: "userid="+userid, 		//Data sent to server
                   	//Expected data format from server
                    //processdata: true, 	//True or False
                    success: function (res) {
						//alert(res);//On Successful service call
                        location.reload();
                        
                    },
                    error: function()
                    {
						//alert(res);//On Successful service call
                        location.reload();
					}
                   //alert("ok");	// When Service call fails
                }); 
  }
	</script>
	

<div class="login-box payment-info">		
<?php echo $this->Session->Flash();  ?>
<table style="border:1px solid #000;" class="sortable table table-striped">
		  <thead>
		  <tr>
			 <th> Order ID</th>
			  <th>Pickup</th>
			  <th>Dropoff</th>
			  <th>Price</th>
		  </tr>
		 
		  </thead>
      <tbody>

			  <tr>
		  <td><?php echo '#'.$orderids; ?></td>
		  <td><?php echo $order['Directorder']['pickup']; ?></td>
		  <td><?php echo $order['Directorder']['dropoff']; ?></td>
		  <td> <?php echo '$'.$order['Directorder']['price']; ?></td>
		  </tr>
			  
			  
		 
		  </tbody>
</table>
		<div id="accordion">
			 <h3 style="cursor:pointer;" id="braintree" class="text-center"><b>Pay with Braintree</b></h3>
		 <div>
<p>
		
      <form action="<?php echo $url; ?>" name="myform" method="post" onsubmit="return validate()" autocomplete="off">
    
       <span class="col-sm-4">&nbsp;</span><span class="payment-errors"></span></p>
      
      <div class="row">
    <label>
      <span class="col-sm-4">First Name</span>
      <?php echo $this->Form->input("",array("type"=>"text","data-stripe"=>"cvc","name"=>"transaction[customer][first_name]","class"=>"card-cvc col-sm-8",'div'=>false,'label'=>false,'id'=>'fname','value'=>$carddata['Carddetail']['fname'])); ?>
    </label>
  </div>
   <div class="row">
    <label>
      <span class="col-sm-4">Last Name</span>
      <?php echo $this->Form->input("",array("type"=>"text","data-stripe"=>"cvc","name"=>"transaction[customer][last_name]" ,"class"=>"card-cvc col-sm-8",'div'=>false,'label'=>false,'id'=>'lname','value'=>$carddata['Carddetail']['lname'])); ?>
    </label>
  </div>
   <div class="row">
    <label>
      <span class="col-sm-4">Email</span>
      <?php echo $this->Form->input("",array("type"=>"text","data-stripe"=>"cvc","name"=>"transaction[customer][email]","class"=>"card-cvc col-sm-8",'div'=>false,'label'=>false,'id'=>'email','value'=>$carddata['Carddetail']['email'])); ?>
    </label>
  </div>
  <div class="row">
  
          
     <label>
      <?php if(empty($carddata)) {?>
      <span class="col-sm-4">Card Number</span>
       <?php echo $this->Form->input("number",array("type"=>"text","data-stripe"=>"number","class"=>"card-number col-sm-8",'autocomplete'=>false, 'onfocus' => 'return cardtype()','div'=>false,'label'=>false,'name'=>'transaction[credit_card][number]' ,'id'=>'cardnumber','value'=>$carddata['Carddetail']['cardnumber'] )); } else { ?>
		   <span class="col-sm-4">Card Number</span>
		   <div class="cardd"><?php echo ($carddata['Carddetail']['mask_number'] =='')? $carddata['Carddetail']['cardnumber'] :$carddata['Carddetail']['mask_number']; ?></div>
       <?php echo $this->Form->input("number",array("type"=>"hidden","data-stripe"=>"number","class"=>"card-number col-sm-8",'autocomplete'=>false,'div'=>false,'label'=>false,'name'=>'transaction[credit_card][number]' ,'id'=>'cardnumber','value'=>$carddata['Carddetail']['cardnumber'] )); } 
		   ?>
		   <?php echo $this->Form->input("paymentstatus",array("type"=>"hidden", 'div'=>false,'label'=>false ,'id'=>'paymentstatus' )); ?>
    </label>
  </div>
  <span id="detail" class="log"></span>
 
  <div class="row">
    <label>
      <span class="col-sm-4">CVV</span>
      <?php echo $this->Form->input("cvc",array("value"=>$carddata['Carddetail']['cvv'], "type"=>"text","data-stripe"=>"cvc","name"=>"transaction[credit_card][cvv]","class"=>"card-cvc col-sm-8",'div'=>false,'label'=>false,'id'=>'cvc')); ?>
    </label>
  </div>
  
  <div class="row">
    <label>
      <span class="col-sm-4">Expiration (MM/YYYY)</span>
      <span class="col-sm-4 padding-lt">
      <?php echo $this->Form->input("exp-month",array("value"=>$carddata['Carddetail']['exmonth'], "options"=>$months,"empty"=>'Select Month',"data-stripe"=>"exp-month","class"=>"card-expiry-month selectpicker", 'label'=>false)); ?></span>
   <span class="col-sm-4 padding-lt">
    <?php echo $this->Form->input("exp-year",array("value"=>$carddata['Carddetail']['exyear'], "options"=>$years,"empty"=>'Select Year',"data-stripe"=>"exp-year","class"=>"card-expiry-year selectpicker", 'label'=>false)); ?>
   </span>
       </label>
  </div>
  <div class="row">
    <label>
      <span class="col-sm-4">Pay Amount</span>
      <span class="col-sm-8 padding-lt">
     <?php $charge = ($order['Directorder']['price']*2.9/100)+0.30; ?>
   <span style="color:#000; width:100%;" class="col-sm-4 padding-lt">
    <span class=""><?php echo 'Amount : $ '.$order['Directorder']['price'].'<br>Taxes & Fees : $'.money_format('%(#10n', $charge).'<br>Total Amount : $'.$amount; ?> <!--<br><span style="font-size: 10px;">(2.9% + $.30 Service Charge)</span> --></span>
   </span>
   
       </label>
       
  </div>
  <!--
  <?php if(empty($carddata)) {?>
  <div class="row">
    <label>
      <span class="col-sm-4">Save credit card detail</span>
      <span class="col-sm-4 padding-lt">
     
   <span style="color:#000; width:100%;" class="col-sm-4 padding-lt">
    <span class=""><?php echo $this->Form->input('checkbox', array('label'=>false, 'type'=>'checkbox','id'=>'save','div' => false,'onclick'=>'return validatecard1();' )); ?></span>
   </span>
       </label>
  </div>
  <?php }  else { ?>
	  <span style="color:#000; width:100%;" class="col-sm-4 padding-lt">
           <span onclick="deletecard(<?php echo $this->Session->read('Auth.User.id') ?>)" style="cursor:pointer;" class=""><b>Click here to delete current card detail?</b>
			   </span>
   </span>
	  <?php }?>
	  -->
<?php// print_r($tr_data); echo "okkkk"; ?>
 
       <?php echo $this->Form->input("tr_data",array("type"=>"hidden","data-stripe"=>"cvc","name"=>"transaction[credit_card][expiration_date]","class"=>"card-cvc col-sm-8",'id'=>'exp','div'=>false,'label'=>false,'value'=>"")); ?>
  
        <?php echo $this->Form->input("tr_data",array("type"=>"hidden","data-stripe"=>"cvc","name"=>"tr_data","class"=>"card-cvc col-sm-8",'div'=>false,'label'=>false,'value'=>$tr_data)); ?>
        <?php echo $this->Form->input("",array("type"=>"hidden","data-stripe"=>"uid","name"=>"uid","id"=>"uid","value"=>$this->Session->read('Auth.User.id'),"class"=>"card-cvc col-sm-8",'div'=>false,'label'=>false)); ?>
  
  <?php echo $this->Html->script("jquery.creditCardValidator.js"); ?>
 
 <div class="text-center clear">
     <div class="login-btn-outer">
         <button type="submit" class="login-btn">Pay Now</button>
     </div>
 </div>
 <script type="text/javascript">
	 
	 function validatecard1()
	{
		
var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
var re16digit = /^\d{16}$/;
var cvc=/^[0-9]{3,4}$/;
var exp2=document.getElementById('exp-month').value+'/'+document.getElementById('exp-year').value;
document.getElementById('exp').value=exp2;
//alert(document.getElementById('exp').value);

  if (!re16digit.test(document.getElementById('cardnumber').value)) {
        alert("Please enter your 16 digit credit card numbers");
        return false;
    }
    else if(document.getElementById('paymentstatus').value=='false')
    {
		
	 alert("Please Enter correct Card number");
        return false;	
	}
    
    else if(!cvc.test(document.getElementById('cvc').value))
    {
	 alert("Please enter correct CVC number");
        return false;	
	}
	else if(document.getElementById('exp-month').value==''||document.getElementById('exp-year').value=='')
    {
	 alert("Please enter expiry date");
        return false;	
	}
	
	else
	{
		var cardnumber=document.getElementById('cardnumber').value;
		var uid=document.getElementById('uid').value;
		var cvv=document.getElementById('cvc').value;
		var exmonth=document.getElementById('exp-month').value;
		var exyear=document.getElementById('exp-year').value;
		var fname=document.getElementById('fname').value;
		var lname=document.getElementById('lname').value;
		var email=document.getElementById('email').value;
		//alert(cardnumber);alert(uid);alert(cvv);alert(exmonth);
		 $.ajax({
                    type: "POST", 		//GET or POST or PUT or DELETE verb
                    url: "<?php echo Router::url(array('controller'=>'orders','action'=>'cardsave'));?>", 		// Location of the service
                    data: "cardnumber="+cardnumber+"&uid="+uid+"&cvv="+cvv+"&exmonth="+exmonth+"&exyear="+exyear+"&fname="+fname+"&lname="+lname+"&email="+email, 		//Data sent to server
                   	//Expected data format from server
                    //processdata: true, 	//True or False
                    success: function (res) {//On Successful service call
                       // alert(res);
                    },
                    error: function()
                    {
						alert("Error");
					}
                   //alert("ok");	// When Service call fails
                });
		
	}
} 
	 
	 
	 
	 
	function validate()
	{
		var cardnumber=document.getElementById('cardnumber').value;
		var uid=document.getElementById('uid').value;
		var cvv=document.getElementById('cvc').value;
		var exmonth=document.getElementById('exp-month').value;
		var exyear=document.getElementById('exp-year').value;
		var fname=document.getElementById('fname').value;
		var lname=document.getElementById('lname').value;
		var email=document.getElementById('email').value;
var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
var re16digit = /^\d{16}$/;
var cvc=/^[0-9]{3,4}$/;
var exp2=document.getElementById('exp-month').value+'/'+document.getElementById('exp-year').value;
document.getElementById('exp').value=exp2;
//alert(document.getElementById('exp').value);

if (document.getElementById('fname').value=='') {
        alert("Please enter First Name");
        return false;
    }
   else if (document.getElementById('lname').value=='') {
        alert("Please enter Last Name");
        return false;
    }
    else if (document.getElementById('email').value=='') {
        alert("Please enter Email");
        return false;
    }
    else if (document.getElementById('email').value=='') {
        alert("Please enter Email");
        return false;
    }

    else if (!filter.test(document.getElementById('email').value)) {
    alert('Please provide a valid email address');
    email.focus;
    return false;
        }	
		
	
   else if (!re16digit.test(document.getElementById('cardnumber').value)) {
        alert("Please enter your 16 digit credit card numbers");
        return false;
    }
    else if(document.getElementById('paymentstatus').value=='false')
    {
		
	 alert("Please Enter correct Card number");
        return false;	
	}
    else if(!cvc.test(document.getElementById('cvc').value))
    {
	 alert("Please enter correct CVV number");
        return false;	
	}
	else if(document.getElementById('exp-month').value==''||document.getElementById('exp-year').value=='')
    {
	 alert("Please enter expiry date");
        return false;	
	}
	else
	{
/*		
$.ajax({
                    type: "POST", 		//GET or POST or PUT or DELETE verb
                    url: "<?php echo Router::url(array('controller'=>'orders','action'=>'cardsave'));?>", 		// Location of the service
                    data: "cardnumber="+cardnumber+"&uid="+uid+"&cvv="+cvv+"&exmonth="+exmonth+"&exyear="+exyear+"&fname="+fname+"&lname="+lname+"&email="+email, 		//Data sent to server
                   	//Expected data format from server
                    //processdata: true, 	//True or False
                    success: function (res) {//On Successful service call
                       // alert(res);
                    },
                    error: function()
                    {
						alert("Error");
					}
                   //alert("ok");	// When Service call fails
                }); */
		return true;
	}
	}
	function check(val)
	{
		//alert(val);
		var mystr=val.length;
		//alert(mystr);
		if(mystr==2)
		{
			if(document.getElementById('exp').value<=31)
			{
		var newstr=document.getElementById('exp').value;
		document.getElementById('exp').value=newstr+'/';
	      }
	      else
	      {
			  alert("Enter Valid date");
		  }
		}
	}
	</script>
<?php echo $this->Form->end(); ?>

</p>
</div>
<h3 style="cursor:pointer;" id="cheque" class="text-center"><b>Pay By Check</b></h3>

	 <div> 
		  <p>
	 <form action="/orders/paybycheque" name="myform" method="post" onsubmit="return validate2()" autocomplete="off">
          <span class="col-sm-4">&nbsp;</span><span class="payment-errors"></span>
          
           <div class="row">
    <label>
      <span class="col-sm-4">Check Number</span>
      <?php echo $this->Form->input("",array("type"=>"text","data-stripe"=>"cvc","name"=>"cqnumber","class"=>"card-cvc col-sm-8",'div'=>false,'label'=>false,'id'=>'cheque2')); ?>
    </label>
  </div>
      
      <div class="row">
    <label>
      <span class="col-sm-4">First Name</span>
      <?php echo $this->Form->input("",array("type"=>"text","data-stripe"=>"cvc","name"=>"first_name","class"=>"card-cvc col-sm-8",'div'=>false,'label'=>false,'id'=>'fname2')); ?>
    </label>
  </div>
   <div class="row">
    <label>
      <span class="col-sm-4">Last Name</span>
      <?php echo $this->Form->input("",array("type"=>"text","data-stripe"=>"cvc","name"=>"last_name","class"=>"card-cvc col-sm-8",'div'=>false,'label'=>false,'id'=>'lname2')); ?>
    </label>
  </div>
   <div class="row">
    <label>
      <span class="col-sm-4">Email</span>
      <?php echo $this->Form->input("",array("type"=>"text","data-stripe"=>"cvc","name"=>"email","class"=>"card-cvc col-sm-8",'div'=>false,'label'=>false,'id'=>'email2')); ?>
    </label>
  </div>
 
  <div class="row">
    <label>
      <span class="col-sm-4">Pay Amount</span>
      <span class="col-sm-4 padding-lt">
     
   <span style="color:#000; width:100%;" class="col-sm-4 padding-lt">
    <span class=""> $ <?php echo $order['Directorder']['price']; ?></span>
   </span>
       </label>
  </div>

  
    <?php echo $this->Form->input("",array("type"=>"hidden","data-stripe"=>"cvc","name"=>"amount",'value'=>$order['Directorder']['price'],"class"=>"card-cvc col-sm-8",'div'=>false,'label'=>false)); ?>
    <?php echo $this->Form->input("",array("type"=>"hidden","data-stripe"=>"cvc","name"=>"orderids","value"=>$orderids,"class"=>"card-cvc col-sm-8",'div'=>false,'label'=>false)); ?>
<?php echo $this->Form->input("",array("type"=>"hidden","data-stripe"=>"cvc","name"=>"type2",'value'=>'laborder',"class"=>"card-cvc col-sm-8",'div'=>false,'label'=>false)); ?>

 <div class="text-center clear">
     <div class="login-btn-outer">
         <button type="submit" class="login-btn">Pay Now</button>
     </div>
 </div>
 
<?php echo $this->Form->end(); ?>	 
</p>
</div>

</div>
</div>
<script type="text/javascript">
	function validate2()
	{
var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
var re16digit = /^\d{16}$/;
var cvc=/^[0-9]{3,4}$/;
var exp2=document.getElementById('exp-month').value+'/'+document.getElementById('exp-year').value;
document.getElementById('exp').value=exp2;
//alert(document.getElementById('exp').value);
if(document.getElementById('cheque2').value=='')
{
	 alert("Please enter Cheque Number");
        return false;
}
else if (document.getElementById('fname2').value=='') {
        alert("Please enter First Name");
        return false;
    }
   else if (document.getElementById('lname2').value=='') {
        alert("Please enter Last Name");
        return false;
    }
    else if (document.getElementById('email2').value=='') {
        alert("Please enter Email");
        return false;
    }
    else if (document.getElementById('email2').value=='') {
        alert("Please enter Email");
        return false;
    }

    else if (!filter.test(document.getElementById('email2').value)) {
    alert('Please provide a valid email address');
    email.focus;
    return false;
        }	
		else
	{
		return true;
	}
	}
	</script>
