<?php 
error_reporting(0);
 ?>
<?php 


echo $this->Html->script('http://code.jquery.com/jquery-1.7.2.min.js');
echo $this->Html->script('http://code.jquery.com/jquery-1.11.3.min.js'); 
echo $this->Html->css('http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min');
echo $this->Html->script('https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js');
echo $this->Html->script('http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js');
echo $this->Html->css('http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min');
echo $this->Html->script('https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js');
echo $this->Html->script('sorttable');
 ?>
<script type="text/javascript">
	var $rows = $('#result_table tr');
$('#search').keyup(function() {
    var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
    
    $rows.show().filter(function() {
        var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
        return !~text.indexOf(val);
    }).hide();
});
	
function callajax(res){
	$.ajax({
		url: "<?php echo Router::url(array('controller'=>'orders','action'=>'mahitable'));?>",
		
		type: "POST",
		data:'res='+res ,
		success:function(data){
              $('#tabble').html('');
              $('#tabble').append(data);
            },
         error:function(data){
			 alert('Waiting for data...');
		 }
        });
}
function callajax2(res){
	$.ajax({
		url: "<?php echo Router::url(array('controller'=>'orders','action'=>'mahitable2'));?>",
		
		type: "POST",
		data:'res='+res ,
		success:function(data){
              $('#tabble').html('');
              $('#tabble').append(data);
            },
         error:function(data){
			 alert('Waiting for data...');
		 }
        });
}
function callajaxadd(){
	var checkedValue = []; 
var inputElements = document.getElementsByClassName('arc');
for(var i=0; inputElements[i]; ++i){
      if(inputElements[i].checked)
      {
           checkedValue[i] = inputElements[i].value;
        
          
      }
}
	for (i=0; i<checkedValue.length;i++)
	{
	$.ajax({
		url: "<?php echo Router::url(array('controller'=>'orders','action'=>'mahiarchive'));?>",
		
		type: "POST",
		data:'res='+checkedValue[i],
		success:function(data){
//alert(data);
             location.reload();
             // $('#tabble').html('');
             // $('#tabble').append(data);
            },
         error:function(data){
			 alert('Waiting for data...');
		 }
        });
	}
}
function callajaxrem(){
	var checkedValue = []; 
var inputElements = document.getElementsByClassName('arc');
for(var i=0; inputElements[i]; ++i){
      if(inputElements[i].checked){
           checkedValue[i] = inputElements[i].value;
        
          
      }
}
	for (i=0; i<checkedValue.length;i++){
	
	$.ajax({
		url: "<?php echo Router::url(array('controller'=>'orders','action'=>'mahiarchiverem'));?>",
		
		type: "POST",
		data:'res='+checkedValue[i],
		success:function(data){
//alert(data);
             location.reload();
             // $('#tabble').html('');
             // $('#tabble').append(data);
            },
         error:function(data){
			 alert('Waiting for data...');
		 }
        });
	}
}


function check(){
var len = $('input:checkbox').length;

   if(len >= 2){
   document.getElementById('pay').style.visibility="visible";
   }
}
function valid(){

	var finalcount=0;
	var status=0;
var count=document.getElementById('count').value;

for(var i=0; i<count; i++ )
{
var array1 = document.getElementById("arc_"+i).getAttribute('myarray');
//alert(array1);
	var check=document.getElementById("arc_"+i).checked;
	
	//alert(status);
	if(check==true )
	{
		finalcount++;
	if(array1=="Payment Accepted"||array1=="Cancel")
	{
	status++;	
	}
	}
}
//alert(finalcount);
 if(finalcount==0)
{
	alert("Please check at least one order .");
	return false;
}
else if(status>0)
{
alert("You have checked already payed order.");
	return false;	
}
else
{
	return true;
	}


}


</script>
 
<script type="text/javascript">
	function changestatus(status_val,order_id)
	{
		//var x = confirm("Are you sure you want to change the status? Once you changed the status, you can not select the same for the next time.");
	var x = con_pop("Are you sure you want to change the status? Once you changed the status, you can not select the same for the next time.");
	function con_pop(mssg){
	$('#constring').html(mssg);
	$('#myModalcon').modal('show');	
}
	$('.cancel-btn').click(function(){
	var val1=$(this).html();
		
		//if (x) {
		//alert(val+'--'+orderid);return false;
		if(val1=='Ok'){
		$.ajax({
		type: "POST",
		url: BASE_URL + "orders/update_status",
		data: {'status_id': status_val, 'order_id': order_id, 'selected_text': 'cancel'},
		success: function (resp) {	
			location.reload();
			 
		}
	});
}
else
{
	return false;
}
});
	}
	
	function doSearch() {
		
    var searchText = document.getElementById('searchTerm').value;
     //alert(searchText);
    var targetTable = document.getElementById('dataTable');
    var targetTableColCount;
           
    //Loop through table rows
    for (var rowIndex = 0; rowIndex < targetTable.rows.length; rowIndex++) {
        var rowData = '';

        //Get column count from header row
        if (rowIndex == 0) {
           targetTableColCount = targetTable.rows.item(rowIndex).cells.length;
           continue; //do not execute further code for header row.
        }
                
        //Process data rows. (rowIndex >= 1)
        for (var colIndex = 0; colIndex < targetTableColCount; colIndex++) {
            rowData += targetTable.rows.item(rowIndex).cells.item(colIndex).textContent;
        }

        //If search term is not found in row data
        //then hide the row, else show
        if (rowData.indexOf(searchText) == -1)
            targetTable.rows.item(rowIndex).style.display = 'none';
        else
            targetTable.rows.item(rowIndex).style.display = 'table-row';
    }
}
function sortTable(table, col, reverse) {
    var tb = table.tBodies[0], // use `<tbody>` to ignore `<thead>` and `<tfoot>` rows
        tr = Array.prototype.slice.call(tb.rows, 0), // put rows into array
        i;
    reverse = -((+reverse) || -1);
    
    tr = tr.sort(function (a, b) { // sort rows
        return reverse // `-1 *` if want opposite order
            * (a.cells[col].textContent.trim() // using `.textContent.trim()` for test
                .localeCompare(b.cells[col].textContent.trim())
                
               );
              
    });
    for(i = 0; i < tr.length; ++i) tb.appendChild(tr[i]); // append each row in order
}

function makeSortable(table) {
    var th = table.tHead, i;
    th && (th = th.rows[0]) && (th = th.cells);
    if (th) i = th.length;
    else return; // if no `<thead>` then do nothing
    while (--i >= 0) (function (i) {
        var dir = 1;
        th[i].addEventListener('click', function () {sortTable(table, i, (dir = 1 - dir))});
       
    }(i));
}
 
function makeAllSortable(parent) {
    parent = parent || document.body;
    var t = parent.getElementsByTagName('table'), i = t.length;
    while (--i >= 0) makeSortable(t[i]);
//     sortrevind = document.getElementsByClassName('st');
// alert(sortrevind);
// sortrevind.innerHTML = stIsIE ? '&nbsp<font face="webdings">5</font>' : '&nbsp;&#x25B4;';
}

window.onload = function () {makeAllSortable();check();};
</script>
<style>
table.sortable thead {
    background-color:#eee;
    color:#666666;
    //font-weight: bold;
    cursor: pointer;
}
table.sortable th.st:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}
#pay{
visibility: hidden;
}
.st a{
color :white !important;
}





</style>

<div class="new-order">
	<?php echo $this->Form->create("User",array("div"=>false,'type' => 'get')); ?>
	<?php echo $this->Session->Flash();?>
	
		<h2 class="col-sm-2"><?php echo 'View Orders'; ?></h2>
		<div class="col-sm-5"> 
			<div class="searchbox_ld">
			
				<?php echo $this->Form->input("searchval",array("type"=>'text','id'=>'searchTerm',"placeholder"=>'Search by any header','class'=>'form-control search_box',"div"=>false,"label"=>false,"value"=>(isset($set_val['searchval']) && !empty($set_val['searchval']))?$set_val['searchval']:'' )); ?>
				
				<span id="submitbtn" class="invite-button nomargin submitsearch search-btn" onclick="doSearch()">Search</span>
				<?php //echo $this->Form->button("Search",array("label"=>false,"div"=>false,"class"=>'invite-button nomargin submitsearch search-btn',"id"=>'submitbtn',"attr"=>'search','onclick'=>"doSearch()")); ?>
					
			</div>
		</div>
		<br/>
		<div class="pull-right">
			<?php if(isset($data) && !empty($data)) { ?>
				
				<a id="add_btn" class="add-btn" onclick = 'callajaxrem();' >Unarchive Orders</a>&nbsp;&nbsp;
				<a id="add_btn2" class="add-btn" href="<?php echo $this->Html->url('/preview-orders') ?>" >All orders</a>
			<?php } else {	?>
		       <a id="add_btn" class="add-btn" onclick = "callajaxadd();">Archive Orders</a>&nbsp;&nbsp;
		       <a id="add_btn2" class="add-btn" href="<?php echo $this->Html->url('/archive-orders') ?>" >Access Archive</a>
		     <?php } ?>
		</div>
			
		<!--<div class="col-sm-3">
                    <div class="sorting-select">
			<?php echo $this->Form->input('sort_rating',array("options"=>array("All"=>"All","Rating"=>"Rating"),"empty"=>"Sort By",'class'=>"selectpicker",'id'=>'sort_rating',"value"=>(isset($set_val['sort_rating']) && !empty($set_val['sort_rating']))?$set_val['sort_rating']:'','label'=>false,'div'=>false)); ?></div>
		</div> -->
		<div class="clear"></div>
		<div class="responsive-table">
			<table id="dataTable" class="sortable table table-striped">
                           <thead>
                            <tr>
<th>&nbsp;</th>
                                <th class="st"><?php echo $this->Paginator->sort('id',"Order Id"); ?></th>
                                <th class="st">Patient</th>
                                <th class="st">Procedure</th>
                                <th class="st">Lab</th>
                                <th class="st">Order Status</th>
                                <th class="st">Price</th>
                                <th class="st">Payment Status</th>
                                <th>&nbsp;</th>
                            </tr><?php echo $this->Form->end(); ?>
                            </thead>
                            <tbody>
								<?php 
                           
               echo $this->Form->create(null, array('id' => 'aForm','url' => array('controller' => 'orders', 'action' => 'payment')));?>
				<?php 
				if(!empty($order_data)) { 
					$i=0; 
					foreach ($order_data as $order):
					
					$orde = $order['Order']['id'];
					$status = $this->requestAction('App/getstatus/'.$orde);
					$payment_ss = $this->requestAction('App/getpaymentstatus/'.$orde);
					
					//echo "<pre>"; print_r($order); echo "</pre>";
					?>
					
						
						<tr> 
<td><?php if($order['Order']['status'] != 'Order Submitted' || $order['Order']['status'] == 'Order Completed' ){					 
?>

<input type="checkbox"  myarray="<?php echo $payment_ss; ?>" class="arc" name="ids[]" id="arc_<?php echo $i; ?>" value="<?php echo $orde; ?>">
 
		<?php    }
		

			
		  $i++;?></td>	
									
<td>


<?php 
			
									//echo $order['Order']['order_manualid'];
echo $this->Html->link($order['Order']['order_manualid'],array("controller"=>"orders","action"=>'viewOrder',$order['Order']['id']));
			?>				

								
								</td>
								
								<td><?php $r = unserialize($order['OrderDetail'][0]['details']); echo $r[0]['patientName']; ?></td>
								
								<td><?php $lab11 = $this->requestAction('App/getprocedure/'.$orde); 
									if($lab11 == ''){
										echo '<span style="text-align:center;">N-A</span>';
									}
else{
									echo $lab11;}
									?>
									</td>
									
								
								<td>
			<?php 
			
			
									$rr = unserialize($order['OrderDetail'][0]['details']);
									$lab_id = $rr[156]['lab_id'];
									 $lab = $this->requestAction('App/companyname/'.$lab_id);
	echo $this->Html->link($lab , array("controller" => "profile", "action" =>$lab_id , $this->Common->makeurl($lab))); 
									
								
									if($lab == ''){
										echo '<span style="text-align:center;">N-A</span>';
									}
			 ?>
			 </td>
			 
								<td class="<?php echo "status_".$order['Order']['status_id'];  ?>">
								<?php
							
								 if($order['Order']['status'] == 'Lab Rejected' Or $order['Order']['status'] == 'Action Required')
								 {
									echo '<a href="#" style="cursor:pointer;color:red;" data-toggle="modal" onclick = "callajax('.$orde.');"class="open-mahiModal" data-target="#mahiModal" >'; 
								 echo '<span style="color:red;">'.$order['Order']['status'].'</span>'; 
echo '</a>';
								
							 }
								 elseif($order['Order']['status'] == 'Biolab Delivered')
								 {
		echo '<a href="#" style="cursor:pointer;color:green;" data-toggle="modal" onclick = "callajax('.$orde.');"class="open-mahiModal" data-target="#mahiModal" >';
									 echo '<span">'.$order['Order']['status'].'</span>';
									  echo '</a>';
								 }
							 elseif($order['Order']['status'])
								 {echo '<a href="#" style="cursor:pointer;color:black;" data-toggle="modal" onclick = "callajax('.$orde.');"class="open-mahiModal" data-target="#mahiModal" >';
									 echo $order['Order']['status'];
echo '</a>';
								 }
								 ?>
								 </td>
								<td><?php
								
								
									$bug_pri = $this->requestAction('App/getbudgetprize/'.$orde);
									echo "$".number_format(($bug_pri),2,'.',',');
								
							?></td>
								<td><?php //$lastData = end($order['OrderStatus']); echo (date("Y-m-d",strtotime($lastData['modified']))); 
								
								
								if($payment_ss == 'Payment Required')
								{
									echo '<span style="color:red;">'.$payment_ss.'</span>';
								}elseif($payment_ss == 'Payment Accepted'){
					
									echo '<span style="color:green;">'.$payment_ss.'</span>';
									
								}
								else if($order['Order']['status']=='Cancel')
								{
									echo 'Cancel';
								}
								else{
									echo $payment_ss;
								}
								
								?></td> 
						       <td>   <div class='pull-right'>								
									<?php 
									
						if($payment_ss == 'Payment Accepted' && $order['Order']['status'] == 'Biolab Delivered' ){
			 echo $this->Form->input('status', array('label' => false, 'style'=>'height:30px; border-radius:2px; color:#b2312c; opacity:9;', 'div' => false, "options" => array('13' => 'Order Completed'), 'selected' => $order['OrderDetail']['status_id'], 'empty' => 'Select Status', 'onChange' => 'changestatus(this.value,"' . $order['Order']['id'] . '")')); 

									}
									else if($payment_ss == 'Payment Accepted')
									{
										echo 'Payment Done';
									}
									
						else if($order['Order']['status'] == 'Order Submitted'){   
							
							$option = array('12'=>'Cancel');
echo $this->Form->input('select_action', array(
    'options' => array($option),
    'empty' => 'Select Action',
    'onchange'=> "changestatus(this.value,".$order['Order']['id'].")",
    'style'=>'height:30px; border-radius:2px; color:#b2312c; opacity:9;'
    
));
										
										?>
					      
									
								<?php    }
                               else if($order['Order']['status'] == 'Lab Rejected')
                               {
										echo 'Lab Rejected';
									
								}
								 else if($order['Order']['status'] == 'Cancel')
                               {
										echo 'Order Cancelled';
									
								}
                               else
                               {
                             echo $this->Html->link("Make Payment",array("controller"=>"orders","action"=>'payment',$order['Order']['id']),array("class"=>"black-btn-outer black-btn"));
                               }
									?> 
								
								</div>
							</td>
						</tr> 
						
						
					<?php endforeach;  
				} else {  ?> 
						<td colspan="6" style="color:red;" class="leftalign">No record found</td>  
				<?php }?>
				</tbody> 
			</table>
		</div>
		<?php if(!isset($data)) { 
			
 echo $this->Form->submit("Make Multi Payment" ,array("div"=>false,'onclick'=>'return valid();', "class"=>"add-btn-outer add-btn","id"=>'pay',"attr"=>'search')); 
}
 ?>   
		<?php echo $this->Form->end(); ?>
	<?php echo $this->Element("pagination"); ?>
	
</div>
<div id="mahiModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
   <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 style="text-align:center;" class="modal-title">ORDER STATUS</h2>
        </div>
        <div id="tabble" class="modal-body">
			
          
          
          </table>
        </div>
        
      </div>
      
       </div>
</div>
<input type="hidden" value="<?php echo $i?>" id="count" >
<!------  payment popup   ------>
<div id="mahiModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">
   <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 style="text-align:center;" class="modal-title">PAYMENT STATUS</h2>
        </div>
        <div id="tabble2" class="modal-body">
        </div>
        
      </div>
      
       </div>
</div>

<style type="text/css">
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 



 }
.select label
{
display:none;
}
</style>
