<div class="new-order">
	<?php if($this->session->read('Auth.User.wait_approve') == 1){ ?>
	<label id="ww">Your profile has not been approve yet, please wait for admin approval.</label>
	
	<?php } else { ?>
	<label id="ww">Your profile has not been activated yet, to send request please <a href="<?php echo $this->Html->url("/send-email"); ?>" title="Send Approval Email">Click here</a></label>
	 
	 <?php } ?>
	</div>
