.col-lg-4{
width:33.333333%;
float:left;
}
.boxes-bg p {

font-weight:none;
margin:none;
}
.user-box {
   -moz-border-radius: 50%;
-webkit-border-radius: 50%;

    }
    .user-box .user-img {
        -webkit-border-radius: 50%;
    }
    
   @media \0screen (max-width:1024px){
   
   }
   .navbar-header {display:none;}
   .navbar-toggle {}
   .navbar-collapse { display:block; visibility:visible}
   botton {display:none;}