html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	color: #b4302c
}
a:focus {
	outline: medium none;
	outline-offset: 0;
	text-decoration: none;
}
p {
	margin: 0 0 25px;
	line-height: 22px !important;
}
.listing-user-txt p {
	margin: 0;
	width: 205px;
}
/*Reset CSS */
html {
	height: 100%;
	font-family: 'Open Sans'; background: rgba(0, 0, 0, 0) url("http://biolablogistics.com/img/stardust.png") repeat fixed 0 0;
}
body {
	background: url("http://biolablogistics.com/img/top-bg.jpg") top repeat-x;
}
.main-wrapper {
	width: 100%;
	min-height: 100%;
	padding: 0 0 250px;
	margin: 0 auto -193px;
}
.wrapper {
	width: 96%;
	max-width: 1000px;
	margin: auto;
}
.clear {
	clear: both;
}
label.error, .payment-errors {
	color: #ff0000;
	font-size: 13px;
}
/*===================Header Section =================== */
header {
	width: 96%;
	max-width: 1000px;
	margin: 0px auto 0;
	padding: 10px 0 0;
	background:#ffffff;
}
.logo {
	max-width: 285px;
	padding: 0 0 0 15px;
	width: 100%;
	margin: 0 0 20px;
}
.login-section a.sign-in, .login-section a.sign-up {
	width: 58px;
	text-align: center;
	color: #1f2427;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
}
.login-section a.sign-in {
	margin-left: 35px;
}
.login-section a.sign-in span, .login-section a.sign-up span {
	background: url(../img/sprite.png) no-repeat!important;
	height: 47px;
	width: 47px;
	display: inline-block;
	transition: all 1s ease 0s;
}
.login-section a.sign-in span:hover, .login-section a.sign-up span:hover {
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
	transform: rotate(45deg);
}
.login-section a.sign-in span.sign-icon {
	background-position: -62px 0px!important;
}
.login-section a.sign-up span.sign-icon {
	background-position: 0px 0px !important;
}
.login-section {
	padding: 10px;
	float: right;
	text-align: right;
}
.login-section a strong {
	font-family: 'Open Sans';
	font-size: 14px;
}
/*===================User Dropdwon Start=================== */
.user-box {
	width: 214px;
	padding: 2px;
	float: right;
	position: relative;
	cursor: pointer;
	margin: 25px 0 0;
	color: #FFF;
	background: #363E41;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	transition: all 1s ease 0s
}
.user-box:hover {
	background: #B2312C;
}
.user-box .user-img {
	float: right;
	width: 44px;
	height: 44px;
	overflow: hidden;
	margin: 0px 0 0 8px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.user-box .user-img .upload-img {
	width: 44px;
	height: 44px;
	margin: 0px auto;
}
.user-box .txt {
	width: 150px;
	padding: 5px;
	margin: 10px 0 0 5px;
	float: left;
	font-size: 16px;
	text-align: center;
	color: #fff;
}
.user-box .txt a {
}
.user-dropdown {
	width: 208px;
	padding: 0px;
	background: #B2312C;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: absolute;
	top: 58px;
	cursor: default;
	margin-left: -8px;
	right: 0px;
	z-index: 99;
}
.user-dropdown:after {
	content: "";
	position: absolute;
	top: -8px;
	right: 45%;
	border-style: solid;
	border-width: 0 8px 8px;
	border-color: #B2312C transparent;
	display: block;
	width: 0;
	z-index: 1;
}
.user-dropdown:before {
	content: "";
	position: absolute;
	top: -9px;
	right: 45%;
	border-style: solid;
	border-width: 0 8px 8px;
	border-color: #B2312C transparent;
	display: block;
	width: 0;
	z-index: 0;
}
.user-dropdown ul {
	margin: 5px 0px;
	text-align: left;
	font-size: 14px;
	padding: 0px;
	list-style: none;
}
.user-dropdown ul li {
	margin: 0px 0;
	padding: 0px 0px;
	font-size: 18px;
	width: 100%;
}
.user-dropdown ul li a {
	margin: 0;
	padding: 5px 10px;
	font-size: 14px;
	color: #FFF;
	display: block;
	text-decoration: none;
}
.user-dropdown ul li a:hover {
	color: #FFF;
	background: rgba(0, 0, 0, 0.2);
}
/*===================User Dropdown End=================== */

/*===================Main Nav Section =================== */
.nav-bar {
	clear: both;
	text-align: center;
	border-top: 4px solid #1f2427;
	border-bottom: 2px solid #1f2427;
	margin: 0 0 10px;
}
.navbar {
	border-radius: 0;
	min-height: 45px;
}
.navbar-nav {
	float: none;
	margin: 0;
}
.navbar-nav > li {
	display: inline-block;
	float: none;
}
ul.custom-nav li a {
	color: #1f2427;
	font-family: 'Open Sans';
	font-size: 14px;
	padding: 10px 28px;
	text-transform: uppercase;
	position: relative;
}
ul.custom-nav li a:hover, ul.custom-nav li.active a {
	color: #24B089;
	padding: 10px 28px;
}
.nav > li > a:hover, .nav > li > a:focus {
	background-color: rgba(0, 0, 0, 0.0);
	color: #24B089;
}
li > a.open_contact_popup:focus {
	background-color: none;
	color: #1f2427;
}
.navbar-toggle .icon-bar {
	background: #1f2427;
}
/*===================Banner Section =================== */
.bx-wrapper img {
	max-width: 100%;
	display: block;
}
.bx-wrapper {
	position: relative;
	margin: 0 auto 45px;
	padding: 0;
*zoom: 1;
}
.bx-wrapper img {
	max-width: 100%;
	display: block;
}
.bx-wrapper .bx-viewport {/*fix other elements on the page moving (on Chrome)*/
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
	-ms-transform: translatez(0);
	-o-transform: translatez(0);
	transform: translatez(0);
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}
/* LOADER */
.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(../img/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}
/* PAGER */
.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding: 10px 0 6px;
	background: #1f2427;
}
.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
*zoom: 1;
*display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	background: #fff;
	text-indent: -9999px;
	display: block;
	width: 8px;
	height: 8px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #26AE8A;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
	left: 10px;
	background: url(../img/controls.png) no-repeat 0 -32px;
}
.bx-wrapper .bx-next {
	right: 10px;
	background: url(../img/controls.png) no-repeat -43px -32px;
}
.bx-wrapper .bx-prev:hover {
	background-position: 0 0;
}
.bx-wrapper .bx-next:hover {
	background-position: -43px 0;
}
.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
}
.bx-wrapper .bx-viewport .bx-controls-direction a {
	display: none;
}
.bx-wrapper .bx-viewport:hover .bx-controls-direction a {
	display: block;
}
.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}
/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
	text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(../img/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-start:hover, .bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(../img/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover, .bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}
/*===================Colored Boxes Section =================== */
.boxes-bg {
	background: #363E41;
	padding: 10px;
	text-transform: uppercase;
}
.boxes-bg p {
	padding: 10px;
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	line-height: 18px;
	text-transform: none;
	margin: 0px;
	height: 70px;
}
.boxes-bg .associate-doctors {
	background: url(../img/stethoscope-2.png) no-repeat center 38px #106B9D;
	display: block;
	padding: 120px 0 50px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	transition: all 1s ease 0s;
}
.boxes-bg .associate-doctors:hover {
	background: url(../img/stethoscope-1.png) no-repeat center 38px #fff;
	color: #146BA0;
	font-weight: bold;
}
.boxes-bg .track-order {
	background: url(../img/binoculars-2.png) no-repeat center 48px #B2312C;
	display: block;
	padding: 120px 0 50px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	transition: all 1s ease 0s;
}
.boxes-bg .track-order:hover {
	background: url(../img/binoculars-1.png) no-repeat center 48px #fff;
	color: #B2312C;
	font-weight: bold;
}
.boxes-bg .associate-labs {
	background: url(../img/microscope-2.png) no-repeat center 28px #09978B;
	display: block;
	padding: 120px 0 50px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	transition: all 1s ease 0s;
}
.boxes-bg .associate-labs:hover {
	background: url(../img/microscope-1.png) no-repeat center 28px #fff;
	color: #09978B;
	font-weight: bold;
}
/*===================Footer Section =================== */
footer {
	padding: 56px 0 30px;
	background: #1f2427;
}
footer .logo-footer {
	text-align: center;
	padding: 0 0 10px;
	margin: auto;
	width: 100%;
	display: inline-block;
}
.copyright {
	text-align: center;
	font-size: 14px;
	max-width: 100%;
	margin: 0 auto 10px;
	padding: 10px 25px 0;
	border-top: 2px solid #484848;
	color: #999;
}
/*===================Sigin Signup Pages =================== */
.login-box {
	max-width: 580px;
	margin: 50px auto;
	color: #707475;
}
.signin-box {
	max-width: 90%;
}
.login-box h2 {
	font-size: 40px;
	color: #1f2427;
	font-weight: 600;
	margin: 0 0 10px;
	text-align: center;
}
.login-box p {
	font-size: 15px;
	color: #707475;
}
.login-box div.input {
	padding: 16px 0;
	position: relative;
}
.login-box input {
	border: 2px solid #000000;
	background: #FFFFFF;
	border-radius: 0px;
	height: 42px;
	color: #000000 !important;
}
.login-box textarea {
	border: 2px solid #000000;
	background: #FFFFFF;
	border-radius: 0px;
	width: 100%;
	color: #000000 !important;
}
.login-box input[type="checkbox"] {
	width: auto;
	height: auto;
	margin: 0 8px 0 0
}
.keep-me {
	font-size: 12px;
	color: #707475;
	float: left;
}
.forgot-password {
	float: right;
}
.forgot-password a {
	font-size: 12px;
	color: #B4302C
}
.login-box .bootstrap-select {
	left: 0;
	position: absolute;
	top: 16px;
	width: 100%;
}
.login-box #OrderOrderForm p {
	margin-bottom: 10px;
}
.login-btn {
	background: #09978B !important;
	color: #fff !important;
	cursor: pointer;
	margin: 0;
	padding: 0 60px;
	text-decoration: none;
	border: none !important;
	cursor: pointer;
	position: relative;
	z-index: 9;
	transition: all 1s ease 0s;
	text-transform: uppercase;
	height: 42px !important;
	line-height: 42px;
	display: inline-block;
	text-decoration: none;
}
.login-btn:hover {
	background: #fff !important;
	color: #09978B !important;
	text-decoration: none;
}
.login-btn-outer {
	display: inline-block;
	margin: 15px auto;
	position: relative;
	vertical-align: top;
}
.login-btn-outer:before {
	border: 1px solid #09978B;
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition-duration: 0.3s;
	transition-property: top, right, bottom, left;
	bottom: -2px;
	left: -2px;
	right: -2px;
	top: -2px;
}
.cancel-btn {
	background: #B2312C !important;
	color: #fff !important;
	cursor: pointer;
	margin: 0;
	padding: 0 60px;
	text-decoration: none;
	border: none !important;
	cursor: pointer;
	position: relative;
	z-index: 9;
	transition: all 1s ease 0s;
	text-transform: uppercase;
	height: 42px;
	line-height: 42px;
	display: inline-block;
	text-decoration: none;
}
.cancel-btn:hover {
	background: #fff !important;
	color: #B2312C !important;
	text-decoration: none;
}
.cancel-btn-outer {
	display: inline-block;
	margin: 15px auto;
	position: relative;
}
.cancel-btn-outer:before {
	border: 1px solid #B2312C;
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition-duration: 0.3s;
	transition-property: top, right, bottom, left;
	bottom: -2px;
	left: -2px;
	right: -2px;
	top: -2px;
}
.add-btn {
	border: 1px solid #000 !important;
	background: #EF7D01 !important;
	color: #000 !important;
	cursor: pointer;
	margin: 0;
	padding: 0 10px;
	text-decoration: none; /*border: none !important; */
	cursor: pointer;
	position: relative;
	z-index: 5;
	transition: all 1s ease 0s;
	height: 38px;
	line-height: 38px;
	display: inline-block;
	text-decoration: none;
	font-size: 14px;
}
.add-btn:hover {
	background: #fff !important;
	color: #000 !important;
	text-decoration: none;
}
.add-btn-outer {
	display: inline-block;
	margin: 18px;
	position: relative;
	vertical-align: top;
}
.add-btn-outer:before {
	border: 1px solid #EF7D01;
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition-duration: 0.3s;
	transition-property: top, right, bottom, left;
	bottom: -2px;
	left: -2px;
	right: -2px;
	top: -2px;
}
.view-btn {
	background: #FFF !important;
	color: #000 !important;
	cursor: pointer;
	margin: 0;
	padding: 0 8px;
	text-decoration: none;
	border: none !important;
	cursor: pointer;
	position: relative;
	z-index: 9;
	transition: all 1s ease 0s;
	height: 34px;
	line-height: 34px;
	display: inline-block;
	text-decoration: none;
	font-size: 14px;
}
.view-btn:hover {
	background: #09978B !important;
	color: #fff !important;
	text-decoration: none;
}
.view-btn-outer {
	display: inline-block;
	margin: 10px auto;
	position: relative;
	white-space: nowrap;
	vertical-align: top;
}
.view-btn-outer:before {
	border: 1px solid #1F2427;
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition-duration: 0.3s;
	transition-property: top, right, bottom, left;
	bottom: -2px;
	left: -2px;
	right: -2px;
	top: -2px;
}
.view-btn-fix {
	padding: 0 10px;
	text-align: center;/* width: 160px;*/
}
.black-btn {
	background: #FFF !important;
	color: #000 !important;
	cursor: pointer;
	margin: 0;
	padding: 0 10px;
	text-decoration: none;
	border: none !important;
	cursor: pointer;
	position: relative;
	z-index: 9;
	transition: all 1s ease 0s;
	height: 34px;
	line-height: 34px;
	display: inline-block;
	text-decoration: none;
	font-size: 14px;
}
.black-btn:hover {
	background: #09978B !important;
	color: #fff !important;
	text-decoration: none;
}
.black-btn-outer {
	display: inline-block;
	margin: 10px auto;
	position: relative;
	white-space: nowrap;
	vertical-align: top;
	background: #fff !important;
	color: #000 !important;
}
.black-btn-outer:before {
	border: 1px solid #1F2427;
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition-duration: 0.3s;
	transition-property: top, right, bottom, left;
	bottom: -2px;
	left: -2px;
	right: -2px;
	top: -2px;
}
p.sign-up {
	font-size: 30px;
	color: #1f2427;
	font-weight: 600;
	margin: 50px 0 10px;
	text-align: center;
}
p.sign-up a {
	color: #B4302C
}
/*.dropdown-menu{background-color:rgba(0, 0, 0, 0);}*/
.disabled.day {
	color: #e4e4e4;
}
th.next {
	cursor: pointer;
}
.inner {
	background: #FFF;
	color: #000;
	border: 2px solid #000;
}
.inner > li > a {
	color: #000;
	margin: 1px 0 0;
	cursor: pointer;
}
.inner > li > a:hover, .inner > li > a:focus {
	background: #09978B;
	color: #000;
}
/*===================Profile Page =================== */
.profile-box {
	background: #FFF;
	padding: 10px;
	color: #000;
	border: 2px solid #000;
}
.profile-box h2 {
	font-size: 30px;
	color: #000;
}
.profile-box h2 span {
	font-size: 13px;
	color: #fff;
	margin: 5px 0 0;
	margin: 0px 0 10px;
}
.profile-box p {
	margin: 0 0 10px;
	word-break: break-all;
}
.user-pro-img {
	float: left;
	border: 2px solid #000;
	margin-left: -1px;
}
.user-pro-txt {
	padding: 0 0 0 210px;
	line-height: 25px;
}
.user-pro-txt .glyphicon {
	display: inline-block;
}
.user-pro-txt .location {
	vertical-align: top;
	margin: -25px 0 0 30px;
}
.profile-box-text {
	background: #fff;
	border: 1px solid #363E41; /*padding:30px 5%;*/
	color: #363E41;
	margin: 5px 0;
}
.profile-box-text h3 {
	font-size: 30px;
	color: #363E41;
	margin: 0 0 25px;
}
/*===================Lab Listing Page =================== */
.lab-list {
	background: #FFF;
	padding: 5px;
	color: #000;
	border: 2px solid #000;
}
.listing-user-img {
	float: left;
	margin: 0 10px 0 0
}
.listing-user-img img {
	border: 1px solid #ccc;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
}
.listing-user-txt {
	margin: 0 10px 0 85px;
	font-size: 14px;
	line-height: 20px;
}
.listing-user-txt-order {
	font-size: 14px;
	line-height: 20px;
}
.listing-user-txt-order h3 {
	font-size: 22px;
	margin: 0 0 8px;
	font-weight: 600;
}
.lab-list h2 {
	font-size: 30px;
	color: #000;
	font-weight: 400;
	display: inline-block;
	margin: 15px 0 0;
}
.listing-user-txt h3 {
	font-size: 22px;
	margin: 0 0 8px;
	font-weight: 400;
}
.searchbox_ld {
	margin: 16px 0 15px;
	border: 1px solid #000;
	box-shadow: 0 0 0 1px #fff;
	position: relative;
	clear: both;
}
.searchbox_ld input {
	border: 1px solid #fff;
	background: #fff;
	border-radius: 0px;
	height: 38px;
	color: #707475;
	padding-right: 130px;
}
.search-btn {
	background: #B2312C !important;
	color: #fff !important;
	cursor: pointer;
	margin: 0;
	padding: 0 30px !important;
	text-decoration: none;
	border: none !important;
	cursor: pointer;
	position: absolute;
	z-index: 5;
	transition: all 1s ease 0s;
	text-transform: uppercase;
	height: 42px;
	line-height: 42px;
	display: inline-block;
	text-decoration: none;
	right: 0px;
	top: 0;
	font-size: 14px;
}
.search-btn:hover {
	background: #09978B !important;
	color: #fff !important;
	text-decoration: none;
}
.sorting-select {
	margin: 15px 0;
	position: relative;
}
/*===================Inner Profile Page =================== */
.left-bar {
	background: #FFF !important;
	padding: 5px;
	max-width: 260px;
	margin: 0 0 40px;
	border: 2px solid #000 !important;
	color: #000 !important;
}
.left-bar img {
	max-width: 238px;
	width: 100%;
	border: 2px solid #000 !important;
	margin-left: 4px !important;
}
.left-bar ul {
	margin: 10%;
}
.left-bar ul li {
	margin: 5px 0;
	font-size: 14px;
	position: relative;
}
.left-bar ul li a {
	padding: 5px 0;
	display: block;
	color: #505457;
}
.left-bar ul li a:hover {
	color: #09978B;
	text-decoration: none;
}
.left-bar ul li a:hover:before {
	content: "\e072";
	position: absolute;
	right: 0;
	font-family: 'Glyphicons Halflings';
	font-size: 12px;
}
.left-bar ul li.selected a {
	color: #09978B;
	text-decoration: none;
}
.left-bar ul li.selected a:before {
	content: "\e072";
	position: absolute;
	right: 0;
	font-family: 'Glyphicons Halflings';
	font-size: 12px;
}
.left-bar p.user-name {
	margin: 0px; /*padding: 10px 0 5px 12%; */
	padding: 10px 0px 5px 0px !important;
	text-align: center !important;
	font-size: 20px !important;
	font-size: 14px;
	color: #000;
}
.right-panel div.input {
	padding: 16px 0;
	position: relative;
}
.right-panel div.input div.input {
	padding: 0px 0;
	position: relative;
}
.right-panel input {
	border: 2px solid #000000;
	background: #FFFFFF !important;
	border-radius: 0px;
	height: 42px;
	color: #000000;
}
.right-panel textarea {
	border: 2px solid #000000;
	background: #FFFFFF !important;
	border-radius: 0px;
	width: 100%;
	color: #000000;
}
.right-panel input.login-btn {
	background: #09978B !important
}
.right-panel input.login-btn:hover {
	background: #FFFFFF !important;
}
.right-panel input[type="checkbox"] {
	width: auto;
	height: auto;
	margin: 0 8px 0 0
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
	border: 2px solid #000;
	background: #FFF;
	border-radius: 0px;
	height: 42px;
	color: #000;
}
.upload-pic {
	margin-bottom: 10px;
}
.upload-pic .btn-default {
	border: 1px solid #575B5E;
	background: #1F2427;
	border-radius: 0px;
	height: 48px;
	color: #707475;
	padding: 0 0 0 10px;
	width: 100%;
	text-align: left;
	line-height: 48px;
	position: relative;
}
/*.upload-pic .btn-default:before{content:"\e118";  font-family: "Glyphicons Halflings"; color: #fff; font-size: 25px; position: absolute;left: 10px; top: -3px;}*/
.upload-pic .glyphicon {
	top: 8px;
}
.right-panel h2 {
	font-size: 30px;
	color: #1f2427;
}
.right-panel h3 {
	font-size: 25px;
	color: #1f2427;
}
.right-panel .delete-user .glyphicon {
	display: inline-block;
	top: 27px;
	left: 15px;
}
/*===================Edit Profile Image Page =================== */
.img-content {
	margin: 12% 0 5%;
	text-align: center;
}
.img-frame {
	background: #1f2427;
	padding: 5px;
	max-width: 260px;
	display: inline-block;
	color: #f2f2f2
}
.img-frame p.pro-prview {
	margin: 0px;
	padding: 10px 0 5px;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
}
.upload-pic .login-btn {
	padding: 0 20px;
}
.upload-pic div.input {
	padding: 9px 0;
}
.upload-pic .login-btn-outer {
	margin: 12px 0;
}
.file-input-wrapper input[type="file"], .file-input-wrapper input[type="file"]:focus, .file-input-wrapper input[type="file"]:hover {
	left: 0px !important;
	position: relative;
	top: 0px !important;
	width: 100%;
	height: 48px;
}
.upload-pic div.file span {
	position: absolute;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}
.upload_default {/*overflow: visible;*/
	width: 100%;
	height: 48px !important;
	position: relative !important;
}
.upload-pic label.error {
	line-height: normal;
	position: relative;
}
.upload-pic .btn-default:hover, .upload-pic .btn-default:focus {
	padding: 0 0 0 10px;
}
.image-outer {
	width: 100%;
	clear: both;
	float: left;
}
.bootstrap-filestyle .form-control {
	height: 48px;
	padding: 0 10px 0 50px;
	text-overflow: ellipsis;
}
/*===================Static pages CSS Start =================== */
.static-pages {
	width: 100%;
	text-align: justify;
	line-height: 18px;
}
.static-pages h2 {
	color: #1f2427;
	font-size: 40px;
	font-weight: 600;
	margin: 0 0 20px;
	line-height: 40px;
}
/*===================Order page CSS Start =================== */
.new-order {
	background: #FFF;
	padding: 5px;
	color: #000;
	border: 2px solid #000;
}
.new-order h2 {
	font-size: 20px;
	color: #000 !important;
	font-weight: 600;
	margin: 10px 5px 10px;
	text-transform: uppercase;
}
.new-order table, .lab-list table {
	margin: 0px;
	font-size: 14px;
	min-width: 768px;
}
.new-order table th, .lab-list table th {
	background: #1F2427;
	color: #fff;
	text-transform: uppercase;
}
.new-order table tr, .lab-list table tr {
	background: #fff;
}
#ww {
	background: none repeat scroll 0 0 #ffffff;
	border: 3px solid #1b9ed5;
	border-radius: 15px;
	clear: both;
	color: #008000;
	font-size: 14px;
	margin: 0 0 20px 196px;
	padding: 15px;
	position: relative;
	text-align: center;
	top: 7px;
}
/*===================Place  Pages =================== */
.place-order {
	max-width: 1000px;
	margin: 50px auto;
	color: #242625;
	font-size: 15px;
}
.place-order h2 {
	font-size: 40px;
	color: #1f2427;
	font-weight: 600;
	margin: 0 0 10px;
	text-align: center;
}
.place-order p {
	font-size: 15px;
	color: #707475;
}
.place-order div.input {
	padding: 16px 0;
	position: relative;
	display: inline-block;
}
.place-order input {
	border: 1px solid #575B5E;
	background: #fff;
	border-radius: 0px;
	height: 30px;
	color: #707475;
}
.place-order textarea {
	border: 1px solid #575B5E;
	background: #1F2427;
	border-radius: 0px;
	width: 100%;
	color: #707475;
}
.place-order input[type="checkbox"] {
	width: auto;
	height: auto;
	margin: 0 8px 0 0
}
.place-order .bootstrap-select {
	left: 0;
	position: absolute;
	top: 16px;
	width: 92%;
}
.place-order #OrderOrderForm p {
	margin-bottom: 10px;
}
.place-order .label-text {
	color: #242625;
	font-size: 15px;
	margin: 0;
	text-transform: uppercase;
}
#OrderDetail0PatientName {
	border: none;
	border-bottom: 1px solid #E8E8E8;
	color: #181818;
	width: 250px;
}
#OrderDetail19ShadeVal {
	border: none;
	border-bottom: 1px solid #E8E8E8;
	color: #181818;
	width: 250px;
}
.place-order h3.resc {
	color: #1f2427;
	font-size: 20px;
	font-weight: bold;
	margin: 0 0 10px;
	border-bottom: 1px solid #000;
}
.place-order h3.resc span {
	background: #fff;
	padding: 0 10px 5px 0;
	margin: 0 0 -5px;
	display: inline-block;
}
.place-order .rest {
	float: left;
	margin-right: 138px;
}
.no-padding {
	padding: 0px;
}
.date-icon input {
	background: url(../img/calendar.png) no-repeat right center;
	border: none;
	border-bottom: 1px solid #E8E8E8;
	color: #181818;
	width: 120px;
}
.lab-use label.labuse {
	color: #ff0000;
	float: left;
}
.lab-use .check-boxes {
	padding: 0 0 0 120px;
}
.lab-use .check-boxes .checkbox {
	width: 140px;
	display: inline-block;
	text-transform: none;
	padding: 0px;
	margin: 0px;
	font-size: 13px;
}
.restoration label.label-text {
	float: left;
}
.restoration .check-boxes {
	padding: 0 0 0 180px;
}
.restoration .check-boxes .checkbox {
	width: 250px;
	display: inline-block;
	text-transform: none;
	padding: 0px;
	margin: 0 0 10px;
	font-size: 13px;
	vertical-align: top;
}
#OrderDetail33Metalmargin {
	width: 50px;
}
.restoration .check-boxes .checkbox label {
	vertical-align: top;
}
.implant input {
	border: none;
	border-bottom: 1px solid #E8E8E8;
	color: #181818;
	width: 100px;
}
.check-all input {
	color: #181818;
	width: 100px;
	vertical-align: middle;
	margin: 0 0 0 5px;
}
.check-all-label label {
	padding-left: 0px;
}
.place-order div.file {
	width: 100%;
}
.place-order .textarea {
	width: 100%;
}
.place-order textarea {
	background: #fff;
	border: 1px solid #D3D3D3;
	height: 150px;
	border-radius: 5px;
}
.check-boxes img {
	margin: -5px 0 0;
}
/*===================Reset CSS Start =================== */
.bootstrap-select {
	left: 0;
	position: absolute;
	top: 0px;
	width: 100%;
}
.bootstrap-select .btn-default, .bootstrap-select .btn-default, .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
	border: 2px solid #000000;
	background: #FFFFFF !important;
	width: 100%;
	padding: 0px;
	border-radius: 0px;
}
.caret {
	background: url(../img/select-arrow.png) no-repeat;
	display: inline-block;
	height: 40px;
	margin-left: -43px !important;
	vertical-align: middle;
	width: 40px;
	border: 0px!important;
}
.filter-option {
	width: 100%;
	padding: 0 40px 0 10px;
	height: 40px;
	text-align: left;
	line-height: 40px;
	color: #000000;
}
.open > .dropdown-menu {
	border: 2px solid !important;
	display: block;
	float: left;
	overflow: auto !important;
	width: 100%;
	padding: 0px;
	min-height: 0 !important;
	position: relative;
}
select, select[multiple], select[size] {
	width: 100%;
	height: 42px;
	display: block !important;
	opacity: 0;
}
.glyphicon {
	display: none;
}
.success_message {
	color: green !important;
}
#flashMessage {
	background: #FFFFFF;
	border: 3px solid #1B9ED5;
	border-radius: 15px;
	clear: both;
	color: #FF0000;
	padding: 15px;
	position: relative;
	text-align: center;
	top: 7px;
	font-size: 14px;
	margin: 0 0 20px;
}
.contact_form_err {
	background: none repeat scroll 0 0 #ffffff;
	border: 3px solid #1b9ed5;
	border-radius: 15px;
	clear: both;
	color: #ff0000;
	font-size: 14px;
	margin-left: 50px;
	padding: 4px;
	position: relative;
	text-align: center;
	top: 7px;
}
textarea {
	resize: none;
	padding: 5px 12px;
}
.responsive-table {
	width: 100%;
	overflow-x: auto;
}
#paginate {
	background: #262a2d;
	color: #fff;
	padding: 10px;
}
#paginate p {
	margin: 0;
}
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
	background: none;
	border-radius: 0;
	height: 100%;
	margin-left: 0;
	text-align: left;
	width: 100%;
}
.input-group {
	border-collapse: separate;
	display: table;
	position: absolute;
	width: 100%;
	top: 9px;
}
.input-group-btn {
	font-size: 0;
	height: 100%;
	position: absolute;
	white-space: nowrap;
	width: 100%;
	z-index: 9;
}
.input-group-btn .glyphicon {
	display: inline-block;
}
.group-span-filestyle .btn-default:hover {
	padding: 6px 12px;
}
.buttonText {
	display: inline-block;
	text-indent: -9999px;
}
.input-group-btn .glyphicon-folder-open:before {
	color: #fff;
	font-size: 25px;
}
.margin-none {
	margin: 0px;
	max-width: 100%;
}
.text-center {
	text-align: center;
}
span.grey_star {
	background: url(../img/rating-star-1.png) repeat-x;
	float: left;
	height: 18px;
	width: 90px !important;
}
span.gold_star {
	background: url(../img/rating-star.png) repeat-x;
	float: left;
	height: 18px;
}
span.price_star {
	background: url(../img/price-black.png) repeat-x;
	float: left;
	height: 18px;
	width: 72px !important;
}
span.price_gold_star {
	background: url(../img/price-rated.png) repeat-x;
	float: left;
	height: 18px;
}
span.mrgn_star {
	margin: 2px 10px 0 5px;
}
#fade-whole {
	background: url("../img/loading.gif") no-repeat scroll center center #f1f1f1;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0.8;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}
.show {
	display: inline-block !important;
	position: fixed;
	width: 100%;
	z-index: 99
}
.show2 {
	display: inline-block !important;
	position: fixed;
	top: 67px;
	width: 82%;
	z-index: 99;
}
#chek_msg {
	color: red;
}
.label-text {
	font-size: 20px;
	color: #181818;
	margin: 0px;
}
.gray-bg {
	background: #F3F3F3 !important;
	border: 1px solid #BABABA !important;
	color: #484848;
	height: 100px !important;
}
.text-bold {
	color: #181818;
	font-weight: 600;
}
.txt-lrg {
	font-size: 20px;
}
.select-top-mrgn .bootstrap-select {
	top: 0px;
	left: 15px !important;
}
.table.table-striped ul {
	width: 100%;
	background: url(../img/bdr-img.png) repeat-x center;
	float: left;
	border-left: 1px dashed #1f2427;
	border-right: 1px dashed #1f2427;
}
.table.table-striped li {
	margin: 0;
	padding: 0;
	float: left;
	width: 14%;
	text-indent: -9999px;
}
.trackOrder {
	background: url(../img/Ellipse.png) no-repeat center;
	cursor: pointer;
	margin-left: 8%;
}
/*.lastOrder{background:url(../img/Ellipse3.png) no-repeat center ; }*/

.col-sm-5.download_file {
	float: right;
	padding: 0 0 5px 12px;
	width: 58%;
	cursor: pointer;
}
.add_turnarounds {
	margin-top: -20px;
	float: right;
	position: relative;
	z-index: 9;
}
.downd_txt {
	font-family: 'Open Sans'
}
.show-glyphicon {
	display: inline !important;
}
.error-page {
	background: url("../img/404_error.jpg") no-repeat center;
	min-height: 600px;
}
.file-outer {
	max-width: 480px;
	width: 100%;
	margin: auto;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
	outline: medium none !important;
	outline-offset: 0;
}
.payment-info label {
	width: 100%;
	display: inline-block;
	margin: 0 0 10px;
}
.padding-lt {
	padding-left: 0px;
}
.padding-rt {
	padding-right: 0px;
}
.payment-info .input {
	padding: 0px !important;
}
.payment-info .bootstrap-select {
	top: 0px !important;
}
.select-mrgn .bootstrap-select {
	left: 0;
	top: 0;
}
.left-padding {
	padding: 0px;
}
#UserSearchForm .col-sm-4 {
	width: 40.333%;
}
.upload-csv {
	margin: 0 15px 10px 0;
	color: #000 !important;
	cursor: pointer;
}
.upload-csv:hover {
	color: #09978b;
}
#sort_distance_msg {
	color: #ff0000;
	font-size: 14px;
	margin: -19px 0 0;
	position: relative;
	top: -13px;
}
.qty {
	width: 320px;
}
.qty label.error {
	margin: 0 0 0 76px;
}
#contact_cont {
	margin: 76px 0;
}
.white-bg {
	background: #fff;
}
.white-bg ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.white-bg ul li {
	margin: 0 0 15px;
	padding: 0 0 15px;
	border-bottom: 1px solid #ccc;
	line-height: 22px;
	text-align: justify;
}
.timing-con .bootstrap-select {
	padding: 0 15px;
}
p.review-by {
	background: #efefef;
	font-size: 20px;
	font-weight: bold;
	padding: 7px 10px;
}
p.review-by span {
	font-size: 14px;
	font-weight: normal;
}
p.rating-pri span.grey_star, p.rating-pri span.price_star {
	margin: 4px;
}
p.review-by .glyphicon {
	display: inline-block;
}
.profile-cont p {
	float: left;
	width: 100%;
}

/*===================Responsive CSS Start =================== */
@media all and (max-width:1024px) {
.sorting-select {
	margin-left: 0px !important;
}
.btnm2 {
	margin-left: 200px;
}
}

@media (min-width: 768px) {
.col-sm-3 {
	width: none !important;
}
}

@media all and (max-width:767px) {
.main-wrapper {
	width: 99%;
}
.bx-wrapper img {
	height: auto;
}
.left-bar {
	margin: 0 auto 40px;
}
.nav-links {
	max-width: 100%;
}
.left-bar ul {
	margin: 5%;
}
.navbar-collapse {
	position: absolute;
	z-index: 9;
	background: #fff;
	border: 1px solid #ccc;
	width: 100%
}
.margin-btm {
	margin-bottom: 32px;
}
span.col-sm-4, input.col-sm-8 {
	width: 100%;
	padding: 0px;
	display: inline-block;
}
span.col-sm-4 {
	margin: 0 0 10px;
}
.login-box .row {
	margin: 0px;
}
#UserSearchForm .col-sm-4 {
	width: 100%;
}
.sorting-select {
	width: 100% !important;
}
}

@media all and (max-width:640px) {
.main-wrapper {
	width: 98%;
}
#UserSearchForm .col-sm-4 {
	width: 100%;
}
}

@media all and (max-width:760px) {
p.rating-pri {
	margin-top: -56px !important;
	float: right !important;
	margin-right: 3px !important;
}
.btnm1 {
	width: 170px;
	text-align: center;
}
.btnm2 {
	width: 170px;
	text-align: center;
	margin-top: -43px;
}
.btnm3 {
	width: 170px;
	text-align: center;
	margin-left: 26%;
}
table.sortable th.st:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
	content: none !important;
}
}

@media all and (max-width:560px) {
.navbar-nav > li {
	display: inline-block;
	float: none;
	width: 50%;
}
.user-pro-txt {
	padding: 10px 0;
}
.user-pro-img {
	float: none;
	text-align: center;
}
p.rating-pri {
	margin-top: -35px !important;
	float: right !important;
	margin-right: 105px !important;
}
.tablem1 {
	width: 100% !important;
	text-align: center;
	border: 2px solid;
	margin-left: 0px !important;
}
.btnm1 {
	width: 170px;
	text-align: center;
	margin-bottom: 20px !important;
}
.btnm2 {
	width: 170px;
	text-align: center;
	margin-left: 60% !important;
	margin-top: -43px;
}
.btnm3 {
	width: 170px;
	text-align: center;
	margin-bottom: 20px !important;
	margin-left: 26% !important;
}
}

@media all and (max-width:480px) {
.logo {
	margin: auto;
}
.login-section {
	width: 100%;
	text-align: center;
}
.user-box {
	float: none;
	display: inline-block;
}
.main-wrapper {
	width: 94%;
}
p.rating-pri {
	margin-top: -35px !important;
	float: right !important;
	margin-right: 105px !important;
}
.tablem1 {
	width: 100% !important;
	text-align: center;
	border: 2px solid;
	margin-left: 0px !important;
}
.btnm1 {
	width: 170px;
	text-align: center;
	margin-bottom: 10px !important;
}
.btnm2 {
	width: 170px;
	text-align: center;
	margin-bottom: 10px !important;
}
.btnm3 {
	width: 170px;
	text-align: center;
	margin-bottom: 10px;
}
}

@media all and (max-width:360px) {
.navbar-nav > li {
	display: inline-block;
	float: none;
	width: 100%;
}
.restoration .check-boxes {
	padding: 0px;
}
.lab-use .check-boxes {
	padding: 0px;
}
.restoration label.label-text {
	margin: 0 0 10px;
}
p.rating-pri {
	margin-top: -36px !important;
	float: right !important;
	margin-right: 105px !important;
}
.tablem1 {
	width: 100% !important;
	text-align: center;
	border: 2px solid;
	margin-left: 0px !important;
}
.btnm1 {
	width: 170px;
	text-align: center;
	margin-bottom: 20px !important;
}
.btnm2 {
	width: 170px;
	text-align: center;
	margin-left: 60% !important;
	margin-top: -43px;
}
.btnm3 {
	width: 170px;
	text-align: center;
	margin-bottom: 20px !important;
	margin-left: 26% !important;
}
}

@media all and (max-width:320px) {
.navbar-brand > img {
	width: 100%;
}
p.rating-pri {
	margin-top: -35px !important;
	float: right !important;
	margin-right: 105px !important;
}
.tablem1 {
	width: 100% !important;
	text-align: center;
	border: 2px solid;
	margin-left: 0px !important;
}
.btnm1 {
	width: 170px;
	text-align: center;
	margin-bottom: 20px !important;
}
.btnm2 {
	width: 170px;
	text-align: center;
	margin-left: 60% !important;
	margin-top: -43px;
}
.btnm3 {
	width: 170px;
	text-align: center;
	margin-bottom: 20px !important;
	margin-left: 26% !important;
}
}
/*[class*="col-"]{
  padding: 12px;
  margin: 0;}*/

p.review-by span {
	margin-right: 20px;
}
p.review-by {
	margin-bottom: 5px !important;
}
.tablem1 {
	width: 255px;
	margin-left: -15px;
	margin-top: -50px;
}
.btnm1 {
	width: 170px;
	text-align: center;
	margin-bottom: 5px;
	border: 1px solid black !important;
}
.btnm2 {
	width: 170px;
	text-align: center;
	margin-left: 240px;
	margin-bottom: 5px;
	border: 1px solid black !important;
}
.btnm3 {
	width: 170px;
	text-align: center;
	margin-left: 240px;
	margin-bottom: 5px;
	border: 1px solid black !important;
}
.menum1 {
	float: left;
}
h1, strong, b {
	font-weight: bold !important;
}
i {
	font-style: italic !important;
}
.plus {
	background: url(../img/details_open.png) no-repeat;
}
.minus {
	background: url(../img/details_close.png) no-repeat;
}
.counter {
}
.counter p {
	text-align: center;
	padding: 0;
	margin: 0;
	margin-top: 35px;
	color: #444;
	font-weight: bold;
	margin-bottom: -25px;
}
.counter p span {
	font-weight: bold;
	color: #fff;
	padding: 0px 10px;
	border: 2px dashed #181818;
	margin: 0 5px;
	background-color: #000;
	border-radius: 6px;
}
.copyright .border:last-of-type {
	display: none;
}
