@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body { font-family: 'Open Sans', sans-serif; font-size:14px; 
	 -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none; 
}
.inputt {
    border-bottom: 1px solid #000 !important;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    outline: none;
	background-color: transparent;
    width:98% !important;
    //line-height:20px;
}
input {
    border-bottom: 1px solid #777;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    outline: none;
	background-color: transparent;
    width:98%;
    margin-bottom:5px;
}
.checkbox
{
border:none !important;
margin:-2px !important;
}
.text
{
border:none !important;
margin:0px !important;
}
label
{
margin: 4px 0 0 4px;
}
#canvasInAPerfectWorld {
	background-image: url(../images/teeth-img.png);
    background-repeat: no-repeat;
    background-position: 150px 25px;
    height: 300px;
    width: 460px;
	cursor:url(../images/pencil.png), auto;
}
.clr_btn {
	    background-color: #b2312c;
    padding: 2px 14px;
    color: #fff;
    width: 66px;
    margin-left: 6px;
    text-align: center;
    border-radius: 4px;
	cursor:pointer;
	margin-left: 174px;
}
.save_btn {
	background-color: #09978B;
    padding: 2px 14px;
    color: #fff;
    width: 66px;
    margin-left: 6px;
    text-align: center;
    border-radius: 4px;
	cursor:pointer;
}
button { outline:none;}
textarea.notebook {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: 700;
	width: 100%;
	padding: 5px 0px;
	margin:4px 6px;
	margin-bottom: 10px;
	resize: vertical;
	font-size: 11px;
	line-height: 24px;
	border:none;
	outline: none;
	-webkit-appearance: none;
	border-radius: 0;
	background-image: url(../images/notebook.png);
}
.red { color:#b2312c;}
.container {
	margin:0 auto;
	height: 216px;
	width: 1024px;
	border:1px solid #ddd;
	/*background-color: #eee;*/
}
.half { width:50%; float:left;}
.logo1 { width:178px; float:left;  padding:0 12px; border:1px solid #ddd; background:#fff; margin-top:10px;}
.logo1 p {
	font-size: 12px;
    margin: 0;
}
.upper-box { width:394px; float:left; padding: 10px;}
#office {}
#office input { float:left; width: 13px; margin-left:7px;}
#office td { font-size:12px;}
/*container 2 starts here*/
.container2 {
	margin:0 auto;
	height: auto;
	padding-bottom:10px;
	width: 1024px;
	border:1px solid #ddd;
	border-top:none;
	padding-top:20px;
	
}
.dropdown {
	margin:0 auto;
	height: 60px;
	background-color: #dedede;
	padding-bottom:10px;
	width: 1024px;
	clear:both;
	border-top:none;
	padding-top:20px;
}
.box1 { float:left; width:550px; color:#fff; border:1px solid #b2312c; border-radius: 4px;}
.box1 h4 { background:#b2312c; text-align:center; margin:0; padding: 8px;}

.box2 { float:left; width:458px;}
.box1 h4 { background:#b2312c; text-align:center;}

.box3 { float:left; width:400px; border:1px solid #FD5A5A; border-radius: 4px; margin-left:11px;}
.box3 h4 { background:#b2312c; text-align:center; color:#fff; margin:0; padding: 8px;}

.button { width:136px; padding:10px; font-size:14px; border:0; cursor:pointer; outline:none; background:#09978B; display:block; text-align:center; color:#fff;
 border-radius:4px; box-shadow:0px 0px 3px #000; margin:auto; clear:both; font-weight:bold; margin-top:20px;}
 .table1{padding-left:20px !important;}
input[type=checkbox]{  float: left;
  width: 13px;
  margin-left: 7px;}
  .checkbox input[type=checkbox]
  {
  margin-left: 7px !important;
  }
  
