<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="description" content="">
        <title>Help The Neighbours</title>
	</head>
    <body>
        <div style="margin:auto; font-family:arial; font-size:15px; color:#333333; line-height:18px;">
			<?php echo $this->fetch('content');?>
		</div>
	</body>
</html>
