 <div class="row">
	<div class="col-lg-4">
    
    <form method="POST" action="<?php echo $url; ?>" >
                 <fieldset>
                    <legend>Customer</legend>
                    <div>First Name</div><div><input type="text" name="transaction[customer][first_name]" value=""></div>
                    <div>Last Name</div><div><input type="text" name="transaction[customer][last_name]" value=""></div>
                    <div>Email</div><div><input type="text" name="transaction[customer][email]" value=""></div>
                </fieldset>
 
                <fieldset>
                    <legend>Payment Information</legend>
 
                    <div>Credit Card Number</div><div><input type="text" name="transaction[credit_card][number]" value=""></div>
                    <div>Expiration Date (MM/YY)</div><div><input type="text" name="transaction[credit_card][expiration_date]" value=""></div>
                    <div>CVV</div><div><input type="text" name="transaction[credit_card][cvv]" value=""></div>
                </fieldset>
 
              
                <input type="hidden" name="tr_data" value="<?php echo $tr_data ?>" />
 
                <br />
                <input type="submit" value="Submit" />
            </form>
          
           
           </div>
           
          </div>