<div class="row">
    <?php echo $this->Session->flash(); ?>
    <div class="clear">&nbsp;</div>
    <?php echo $this->element('userdetailsleft'); ?>
    <section class="col-sm-8 right-panel">
        <h2>Profile<br />
            <span>&nbsp;</span>
        </h2>
