<div class="row">
	<?php echo $this->Session->flash(); ?>
	<div class="clear-fix">&nbsp;</div>
	<?php echo $this->element('userdetailsleft');?>
	 <section class="col-sm-8 right-panel">
             <h2>Delete Account</h2>
           <p>On-demand deliveries for your lab.</p><br>
			<div class="row delete-user">
				<?php echo $this->Form->create('Userdetail'); ?>
				<div class="col-sm-12">
                                 <!--   <div class="row">
                                        <span aria-hidden="true" class="glyphicon glyphicon-lock col-xs-1"></span>
                                        <div class="col-xs-11"><?php // echo $this->Form->input('password',array("maxlength"=>"15","type"=>"password",'class'=>"left ",'label'=>false,'div'=>true,'placeholder'=>'Password', "class" => "form-control")); ?></div>
                                    </div> -->
					
					<?php echo $this->Form->hidden('remove',array('removeAccount'=>'yes'));?>
                                    <div class="text-center">
                                    <div class="login-btn-outer">
					<?php echo $this->Form->Submit("Delete",array('label'=>false,'div'=>false,'class'=>'login-btn')); ?>	
                                    </div>
                                         &nbsp;
         <!--   <div class="cancel-btn-outer">
	<?php echo $this->Form->button('Cancel', array('type' => 'button','id'=>'cntct_sbmt_cancl','onclick' => 'history.go(-1)','class'=>'cancel-btn'  ));
  ?>
           </div> -->
				
			</div>
			<?php echo $this->Form->end(); ?>
		</div>
	</section>	
</div>
