<?php echo $this->Session->flash(); ?>
<!-- Banner Start-->
<div class="bx-wrapper">
	<div class="bx-viewport">
		<ul class="bxslider">
			<li><img src="img/banner-img01.jpg" alt="Bio Lab Logistics" width="1000" height="412" /></li>
			<li><img src="img/banner-img02.jpg" alt="Bio Lab Logistics" width="1000" height="412" /></li>
			<li><img src="img/banner-img03.jpg" alt="Bio Lab Logistics" width="1000" height="412" /></li>
		</ul>
	</div>
</div>
<!-- Banner Start-->
<!-- Three boxes Start-->
<div class="row">
	<div class="col-lg-4" >
		<div class="boxes-bg" >
			<a href="<?php echo $this->Html->url('/doctors'); ?>" class="associate-doctors" >Associate Doctors</a>
			<p>If you are a public hospital or a private practice, and are on the receiving end of services, please click here.</p>
		</div>
	</div>
<style>
.gopesh{ margin: 0px;padding: 0px;}
@media screen and (max-width:1024px){
 .gopesh{
 margin: 0px 15px;padding: 0px;
}
} 
</style>
	<div class="col-lg-4 gopesh"  style=" ">
		<div class="boxes-bg">
			<?php if (!$this->Session->read("Auth.User.id")) { ?>
				<a href="<?php echo $this->Html->url('/signin')?>" class="track-order" >Track Your Order</a>
				<p>Already a member? Click here and find out where your order is currently.</p>
			<?php } else { ?>
				<a href="<?php echo $this->Html->url('/track-order')?>" class="track-order" >Track Your Order</a>
				<p>Already a member? Click here and find out where your order is currently.</p>
			<?php } ?>
		</div>
	</div>
	<div class="col-lg-4" >
		<div class="boxes-bg" >
			<a href="<?php echo $this->Html->url('/labs'); ?>" class="associate-labs" >Associate Labs</a>
			<p>If you are a laboratory that provides services to healthcare institutions, please click here.</p>
		</div>
	</div>
</div>
<script>
	var unix = Math.round(+new Date()/1000);
	document.cookie=unix;
function PostMainChartValues()
{
	var unix = Math.round(+new Date()/1000);
	var unix=String(unix);
	 //alert(unix);
	var num=unix.slice(-5);
	var arrayelement = new Array();
	var arrayelement=num.split('');
	var finalstring='';
	for (i=0;i<arrayelement.length;i++)
{
   finalstring=finalstring+'<span>'+arrayelement[i]+'</span>';
}
  //alert(finalstring);
     //$('#test').html(finalstring);
  document.getElementById("test").innerHTML=finalstring;
 
}


$(document).ready(function(){
	//alert("ok");
	$.ajax({
		url: "http://biolablogistics.com/Pages/counter",
		type: "POST",
		success:function(response){
			//alert(JSON.stringify(response));
              //$('#tabble').html('');
              //$('#tabble').append(data);
            },
         error:function(response){
			// alert(JSON.stringify(response));
			 //alert('Waiting for data...');
		 }
        });
	
});



	/* var i = 1000;
    var funcNameHere = function(){
        //alert(i++);
    };
    // This block will be executed 100 times.
    setInterval(funcNameHere, 7000);
    funcNameHere();*/
	
	 

 
window.setInterval(function() {
    PostMainChartValues();
}, 5000);
</script>
<!-- Three boxes Start-->
<div class="counter">
<p id="innercounter">
	<span style="font-size:32px;" id='test'></span><br><br>
<span id="delivery">Number of deliveries made in <?php echo $date=date('Y').' '; ?></span>


<?php //$arr2 = str_split($count, 1);  foreach($arr2 as $val){ echo "<span>".$val."</span>"; } //echo "<span>".$count."</span>"; ?>
</p>
</div>
<div class="clear"></div>
