#credit-card-form {
	clear: both;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: left;
}
#credit-card-form fieldset {
	border: 1px solid #ccc;
	margin-bottom: 10px;
	padding: 16px 20px;
}
#credit-card-form fieldset legend {
	background:#fff;
	color: #e32;
	font-size: 160%;
	font-weight: bold;
}
#credit-card-form fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 10px;
	padding: 16px 10px;
}
#credit-card-form fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}
#credit-card-form fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
#credit-card-form div {
	clear: both;
	margin-bottom: 10px;
	padding: 2px;
	vertical-align: text-top;
}
#credit-card-form div.submit {
	border: 0;
	clear: both;
}
#credit-card-form label {
	display: block;
	margin-bottom: 3px;
}
#credit-card-form input {
	clear: both;
	width:98%;
}
#credit-card-form select {
	clear: both;
	vertical-align: text-bottom;
}
#credit-card-form input[type=submit] {
	display: inline;
	width: auto;
}

#credit-card-form input.credit-card-form-small-field {
	width: 100px;	
}

#credit-card-form-cvv-helper {
	font-size: 80%;
}
#credit-card-form-cvv-helper a {
	text-decoration: none;
}
#credit-card-form-cvv-helper a:hover {
	text-decoration: underline;
}