<div class="users index">
	
	<table cellpadding="0" cellspacing="0">
	<tr>
			
			<th class="leftalign">Name</th>
			<th class="leftalign">City</th>
			<th class="leftalign">Phone</th>
			<th class="leftalign">Zipcode</th>
			
			<th class="leftalign">Address</th>
	
			<th class="leftalign">Created</th>
			<th class="actions"><?php echo __('Actions');?></th>
			
	</tr>
	<?php 
	if(!empty($pro))
	{
	 foreach ($pro as $pros): ?>
	 <?php  print_r($pros); ?>
	 <tr>
		
		
		<td class="leftalign"><?php echo $pros['Userdetail']['first_name'].' '.$pros['Userdetail']['last_name']; ?>&nbsp;</td>
		<td class="leftalign"><?php echo $pros['Userdetail']['city']; ?>&nbsp;</td>
		<td class="leftalign"><?php echo $pros['Userdetail']['phone']; ?>&nbsp;</td>
		<td class="leftalign"><?php echo $pros['Userdetail']['zipcode']; ?>&nbsp;</td>
		<td class="leftalign"><?php echo $pros['Userdetail']['address']; ?>&nbsp;</td>
	
		<td class="leftalign"><?php echo $pros['Userdetail']['created']; ?>&nbsp;</td>
		<td class="actions">
					<?php echo $this->Html->link(__('Edit'), array('action' => 'driver_edit', $pros['User']['id'])); ?>
					<?php echo $this->Html->link(__('Delete'), array('action' => 'driver_delete', $pros['User']['id']), null, __('Are you sure you want to delete # %s?', $pros['User']['id'])); ?>
				</td>
		
	</tr>
<?php endforeach; 
    } else 
    { ?>
		<td colspan='8' class="leftalign" style='color:red; text-align:center;'>No record found</td>
		
 <?php   }   ?>
	</table>
	

</div>

