<?php echo $this->element("admins/common",array("place"=>'Search by title,content',"flag"=>false,"pageheader"=>'',"buttontitle"=>'Add Book',"listflag"=>false)); ?>
<div class="countries form">
<?php echo $this->Form->create('Country');?>
	<fieldset>
 		<legend><?php echo __('Edit Country'); ?></legend>
	<?php
		echo $this->Form->input('id');
		echo $this->Form->input('name',array("label"=>"Country Name"));
		echo $this->Form->input('code',array("label"=>"Country code"));
		echo $this->Form->input('status',array("label"=>"Active","type"=>"checkbox"));
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit', true)); ?>
<a style="margin-left:6px;"class="btn btn-grey" onclick="history.go(-1);">Cancel</a>
</div>
